<footer class="footer">
  <div class="footer-top">
    <div class="footer-col sec1 y-u-col-lg-6 y-u-col-sm-12">
      <div class="footer-brand">
        <p class="footer-title">خطى للأحذية</p>
        <img src="../../assets/footer logo.png" alt="شعار" class="footer-logo" />
      </div>
      <p>
        الرياض - المملكة العربية السعودية<i class="fa-solid fa-location-dot"></i>
      </p>
      <p>059688929 - 058493948<i class="fa-solid fa-phone"></i></p>
      <p>info@super.ksa.com<i class="fa-solid fa-envelope"></i></p>
    </div>
    <div class="footer-col sec2 y-u-col-2">
      <h5>الصفحات</h5>
      <ul>
        <li><a href="../../templates/home/layout.html">الرئيسية</a></li>
        <li><a href="../../templates/offers/layout.html">العروض</a></li>
        <li><a href="../../templates/products/layout.html">المنتجات</a></li>
      </ul>
    </div>

    <div class="footer-col sec3 y-u-col-3">
      <h5>معلومات عنا</h5>
      <ul>
        <li><a href="../../templates/policy/privacy-policy.html">سياسة الخصوصية</a></li>
        <li><a href="../../templates/policy/refund-policy.html">سياسة الاسترجاع</a></li>
        <li><a href="../../templates/policy/using-policy.html">سياسة الشحن</a></li>
        <li><a href="../../templates/about us/layout.html">من نحن</a></li>
        <li><a href="../../templates/contact-us/layout.html">تواصل معنا</a></li>
      </ul>
    </div>



  </div>

  <div class="footer-bottom">

    <p>جميع الحقوق محفوظة ل Yamama solutions</p>
    <div class="payment-icons">
      <img src="../../assets/stc pay.png" alt="STC Pay" />
      <img src="../../assets/mastercard.png" alt="Mastercard" />
      <img src="../../assets/visa.png" alt="Visa" />
    </div>
  </div>
</footer>