<div class="cart-row">
  <div class="item-info">
    <img src="../../assets/pro1.png" alt="" />
    <div class="item-text">
      <p class="item-brand">Brand Name</p>
      <p class="item-title y-u-line-clamp-2">Product Description</p>
      <button class="item-remove">إزالة</button>
    </div>
  </div>
  <div class="item-qty">
    <button class="qty-btn y-u-p-l-16" aria-label="decrease">-</button>
    <input class="qty-input" type="number" min="1" value="1" />
    <button class="qty-btn" aria-label="increase">+</button>
  </div>
  <div class="item-price">1000 <img src="../../assets/ريال.svg" alt="ريال" /></div>
</div>