<div class="product-card">
  <a href="../product-details/product-details.html" class="product-link">
    <div class="product-img">
      <img src="../../assets/pro1.png" alt="Product 1" />
      <img src="../../assets/heart.svg" alt="Add" />
      <div class="discount" style="display: none;">خصم 20%</div>
    </div>
    <div class="product-content">
      <p class="product-title">غوتشي</p>
      <p class="product-description">
        عطر فلورا جورجس جاردينيا إنتنس من غوتشي أو دو برفيوم للنساء 100
        مل
      </p>
    </div>
  </a>
  <div class="product-actions">
    <button class="product-add-to-cart">1000 <img src="../../assets/ريال.svg" alt="ريال" /></button>
    <button class="product-add-to-wishlist">
      <img src="../../assets/add.svg" alt="Add" />
    </button>
  </div>
</div>