<form class="y-c-profile-form" data-y="profile-form">

    <div class="y-c-form-field" data-y="form-field-name">
        <label for="firstName" class="y-c-form-label">الاسم بالكامل</label>
        <input type="text" id="firstName" name="firstName" class="y-c-form-input" value="محمد حسين الهاشمي"
            data-y="full-name">
    </div>
    <div class="y-c-form-field" data-y="form-field-phone">
        <label for="phone" class="y-c-form-label">رقم الجوال</label>
        <input type="tel" id="phone" name="phone" class="y-c-form-input" value="0523456789" data-y="phone-input">
    </div>

    <div class="y-c-form-field" data-y="form-field-email">
        <label for="email" class="y-c-form-label">البريد الإلكتروني</label>
        <input type="email" id="email" name="email" class="y-c-form-input" value="Mohammed.Hashimy@gmail.com"
            data-y="email-input">
    </div>
    <div class="y-c-form-field" data-y="form-field-address">
        <label for="address" class="y-c-form-label">العنوان</label>
        <input type="text" id="address" name="address" class="y-c-form-input" value="الرياض، حي العليا، شارع الملك فهد"
            data-y="address-input">
    </div>

    <input type="hidden" id="birthDate" name="birthDate" data-y="birth-date-input">
    <input type="hidden" id="gender" name="gender" data-y="gender-select">

    <h2 class="y-c-form-title-sub" data-y="password-section-title">تغيير كلمة المرور</h2>

    <div class="y-c-form-group y-l-password-wrapper" data-y="form-group-current-pass">
        <label for="current-password" class="y-c-form-label">كلمة المرور الحاليه</label>
        <input type="password" id="current-password" name="currentPassword" class="y-c-form-input" data-y="login-password-input">
        <i class="fas fa-eye y-c-password-toggle"></i>
    </div>

    <div class="y-c-form-field y-l-password-wrapper" data-y="form-field-new-pass">
        <label for="new-password" class="y-c-form-label">كلمة المرور الجديده</label>
        <input type="password" id="new-password" name="newPassword" class="y-c-form-input" data-y="password-input">
        <i class="fas fa-eye y-c-password-toggle"></i>
    </div>

    <div class="y-c-form-field y-l-password-wrapper" data-y="form-field-confirm-pass">
        <label for="confirm-password" class="y-c-form-label">تأكيد كلمة المرور الجديده</label>
        <input type="password" id="confirm-password" name="confirmPassword" class="y-c-form-input" data-y="confirm-password-input">
        <i class="fas fa-eye y-c-password-toggle"></i>
    </div>

    <button type="submit" class="y-c-outline-btn y-c-basic-btn" data-y="profile-submit-btn">حفظ
        التعديلات</button>

</form>