<div class="cart-summary">
  <div class="order-summary-box">
    <h3 class="summary-box-title">إجمالي الطلبات</h3>
    <div class="summary-row">
      <span class="summary-label">المجموع</span>
      <span class="summary-value">712 <img src="../../assets/ryal.svg" alt="رمز الريال السعودي" style="display: inline-block; width: 18px; height: 18px; vertical-align: middle; margin-right: 3px;" /></span>
    </div>
    <div class="summary-row">
      <span class="summary-label">الخصم</span>
      <span class="summary-value">20 <img src="../../assets/ryal.svg" alt="رمز الريال السعودي" style="display: inline-block; width: 18px; height: 18px; vertical-align: middle; margin-right: 3px;" /></span>
    </div>
    <div class="summary-row">
      <span class="summary-label">ضريبة القيمة المضافة</span>
      <span class="summary-value">34 <img src="../../assets/ryal.svg" alt="رمز الريال السعودي" style="display: inline-block; width: 18px; height: 18px; vertical-align: middle; margin-right: 3px;" /></span>
    </div>
    <div class="summary-row total-row">
      <span class="summary-label">الإجمالي المقدر</span>
      <span class="summary-value">746 <img src="../../assets/ryal.svg" alt="رمز الريال السعودي" style="display: inline-block; width: 18px; height: 18px; vertical-align: middle; margin-right: 3px;" /></span>
    </div>
    <a href="../../templates/payment/layout.html" class="btn-auth">المتابعة لإتمام الطلب</a>
  </div>
</div>