<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stationary</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/empty.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="cart.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner panner-image  y-u-m-b-0 container y-u-max-w-1200">
      <h1 class="y-u-text-center"> السلة</h1>
    </section>
    <section class="breadcrumbs container y-u-max-w-1200 y-u-m-b-0 ">
      <a href="../layout/index.html">الرئيسية</a>
      <p>السلة</p>
    </section>
    <section class="container y-u-max-w-1200 cart-section">
      <div class="empty-state-container">
        <div class="empty-state">
          <img src="../../assets/empty-cart.png" alt="أيقونة سلة فارغة">
          <h3>لا توجد منتجات في السلة</h3>
          <a href="../store/store.html" class="btn main-button">تسوق الآن</a>
        </div>
      </div>

    </section>
  </main>

  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>