<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>الرئيسية | Yamama</title>
  <link rel="manifest" href="../manifest.json" />

  <link rel="icon" href="../../assets/icon.png" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />

  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="./style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="hero-template">
      <div class="container y-u-max-w-1200">
        <div class="right y-u-flex y-u-flex-col y-u-gap-12">
          <div
            class="stat y-u-p-12 y-u-py-4 light-primary-bg y-u-rounded-m y-u-w-fit y-u-flex y-u-items-center y-u-gap-8">
            <i class="fa-regular fa-circle-check primary-color"></i>
            <p class="y-u-text-s y-u-font-medium primary-color">أكثر من 500 قالب احترافي</p>
          </div>
          <h1 class="y-u-text-xxxl y-u-font-bold">
            أطلق متجرك
            <br>
            الإلكتروني
            <br>
            <span class="primary-color">بهوية احترافية</span>
          </h1>
          <div class="y-u-flex y-u-gap-12 y-u-items-center">
            <a href="../store/index.html" class="btn main-button">
              تصفح متاجرنا الآن
              <i class="fa-solid fa-arrow-left"></i>
            </a>
          </div>
        </div>
        <div class="left">
          <div class="white-card y-u-flex y-u-gap-12 y-u-items-center y-u-w-fit">
            <div
              class="icon light-primary-bg y-u-rounded-s y-u-p-8 y-u-w-fit y-u-flex y-u-items-center y-u-justify-center">
              <i class="fa-solid fa-chart-line primary-color y-u-text-m"></i>
            </div>
            <div class="content y-u-flex y-u-flex-col  y-u-items-center y-u-justify-center">
              <p class="y-u-text-s y-u-font-normal">معدل التحويل</p>
              <p class="y-u-text-s y-u-font-bold">+%45زيادة</p>
            </div>
          </div>
          <div class="infinite-vertical-slider y-u-flex y-u-gap-16">
            <div class="slider-column up">
              <div class="slider-track">
                <img src="../../assets/inifnite-scroll-img-1.png" alt="صورة من معرض تصاميم المتاجر الإلكترونية" />
                <img src="../../assets/inifnite-scroll-img-1.png" alt="صورة من معرض تصاميم المتاجر الإلكترونية" />
              </div>
            </div>
            <div class="slider-column down">
              <div class="slider-track">
                <img src="../../assets/inifnite-scroll-img-2.png" alt="واجهة متجر إلكتروني ضمن معرض التصاميم" />
                <img src="../../assets/inifnite-scroll-img-2.png" alt="واجهة متجر إلكتروني ضمن معرض التصاميم" />
              </div>
            </div>
            <div class="slider-column up">
              <div class="slider-track">
                <img src="../../assets/inifnite-scroll-img-3.png" alt="نموذج تصميم متجر من قوالب يمامة" />
                <img src="../../assets/inifnite-scroll-img-3.png" alt="نموذج تصميم متجر من قوالب يمامة" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="special-bg">
      <section class="container y-u-max-w-1200 why-us-section">
        <div class="why-header">
          <h2 class="center-title">لماذا يمامة ؟</h2>
          <p class="tagline">لأننا نهتم بالتفاصيل التي تصنع الفرق</p>
        </div>

        <div class="features-grid">

          <div class="feature-col col-right">

            <div class="feature-card design-card fade-item delay-1">
              <div class="feature-content">
                <div class="accent-line"></div>
                <h3 class="feature-title">اتقان في التصميم</h3>
                <p class="feature-desc">
                  واجهات مستخدم تدمج بين الجمال والوظيفة لضمان رحلة تسويق لا تنسي
                </p>
              </div>
            </div>

            <div class="feature-card split-card fade-item delay-2">
              <div class="feature-content-split">
                <div class="split-text">
                  <div class="accent-line"></div>
                  <h3 class="feature-title">دعم نخبة الخبراء</h3>
                  <p class="feature-desc">
                    فريق متفاني من المستشارين التقنيين متاح لضمان نجاح ونمو تجارتك
                  </p>
                </div>
                <div class="split-image">
                  <img src="../../assets/experience1.png" alt="Experts">
                </div>
              </div>
            </div>

            <div class="feature-card launch-card fade-item delay-3">
            </div>

            <div class="feature-card responsiveness-text-card fade-item delay-4">
              <div class="feature-content-split">
                <h3 class="feature-title">تجاوب فائق</h3>
                <p class="feature-desc">
                  تجربة تسوق مثالية تتبع عملائك أينما كانوا ،عبر جميع الأجهزة بذكاء
                </p>
              </div>
            </div>

          </div>

          <div class="feature-col col-left">

            <div class="feature-card speed-card fade-item delay-1">
              <div class="feature-content">
                <div class="accent-line"></div>
                <h3 class="feature-title">بسرعة استثنائية</h3>
                <p class="feature-desc">
                  بنية تحتية تضمن تحميل متجرك في أجزاء من الثانية حول العالم
                </p>
              </div>
            </div>

            <div class="feature-card split-card fade-item delay-2">
              <div class="feature-content-split reverse-layout">
                <div class="split-image">
                  <img src="../../assets/experience2.png" alt="Control">
                </div>
                <div class="split-text">
                  <div class="accent-line"></div>
                  <h3 class="feature-title">تحكم بلا حدود</h3>
                  <p class="feature-desc">
                    أدوات تخصيص متطورة تمنحك الحرية الكاملة في رسم هوية متجرك بكل يسر
                  </p>
                </div>
              </div>
            </div>

            <div class="feature-card response-card fade-item delay-3">
              <div class="feature-content">
                <div class="accent-line"></div>
                <h3 class="feature-title">انطلاق نحو القمة</h3>
                <p class="feature-desc">
                  حول رؤيتك إلى واقع في غضون لحظات مع أنظمة الإطلاق الذكية والمتكاملة
                </p>
              </div>
            </div>

            <div class="feature-card responsiveness-card fade-item delay-4">
              <div class="split-image">
                <img src="../../assets/feature-layouts.png" alt="Responsive Design">
              </div>
            </div>

          </div>
        </div>

      </section>
    </section>

    <div class="how-to-header">
      <h2 class="center-title y-u-m-b-56">
        كيف تبدأ خلال لحظات وتستمتع بكل هذه المميزات وأكثر
      </h2>
    </div>

    <section class="special-bg how-start-section">
      <div class="container y-u-max-w-1200">
        <div class="steps-wrapper">

          <div class="step-item reverse">
            <div class="step-img">
              <img src="../../assets/how-to-start.png" alt="اختر المجال">
            </div>
            <div class="step-info">
              <span class="step-num">1</span>
              <h3 class="y-u-text-xl y-u-font-bold y-u-mb-16">اختر المجال</h3>
              <p class="y-u-text-l">
                حدد نوع نشاطك، سواء متجر ملابس، هدايا، إلكترونيات أو غيره.
              </p>
            </div>
          </div>

          <div class="step-item">
            <div class="step-img">
              <img src="../../assets/how-to-start.png" alt="اختر قالبك المفضل">
            </div>
            <div class="step-info">
              <span class="step-num">2</span>
              <h3 class="y-u-text-xl y-u-font-bold y-u-mb-16">اختر قالبك المفضل</h3>
              <p class="y-u-text-l">
                تصفح قوالب احترافية مصممة خصيصاً لتناسب نشاطك.
              </p>
            </div>
          </div>

          <div class="step-item reverse">
            <div class="step-img">
              <img src="../../assets/how-to-start.png" alt="خصص بسهولة">
            </div>
            <div class="step-info">
              <span class="step-num">3</span>
              <h3 class="y-u-text-xl y-u-font-bold y-u-mb-16">خصص بسهولة</h3>
              <p class="y-u-text-l">
                عدّل القالب بطريقتك غيّر الألوان، الصور، النصوص، وأضف منتجاتك بكل سهولة.
              </p>
            </div>
          </div>

          <div class="step-item">
            <div class="step-img">
              <img src="../../assets/how-to-start.png" alt="انطلق وابدأ البيع">
            </div>
            <div class="step-info">
              <span class="step-num">4</span>
              <h3 class="y-u-text-xl y-u-font-bold y-u-mb-16">انطلق وابدأ البيع</h3>
              <p class="y-u-text-l">
                انشر متجرك خلال دقائق اربط متجرك وابدأ في استقبال الطلبات فوراً.
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="container">
      <div class="section-header y-u-text-center y-u-m-b-56">
        <h2 class="center-title">اختر المجال المناسب لمشروعك</h2>
        <p class="section-subtitle">قوالب مصممة خصيصًا لتناسب كل نشاط وتساعدك تطلق موقعك بسرعة</p>

      </div>

      <div class="categories-grid">

        <div class="category-card">
          <div class="card-image">
            <img src="../../assets/category-ecommerce.png" alt="تجارة إلكترونية">
          </div>
          <div class="card-content">
            <span class="category-label">تجارة إلكترونية</span>
            <p class="category-desc">متاجر جاهزة ومصممة خصيصا للتسويق الرقمي.</p>
          </div>
        </div>

        <div class="category-card">
          <div class="card-image">
            <img src="../../assets/category-health.png" alt="صحة">
          </div>
          <div class="card-content">
            <span class="category-label">صحة</span>
            <p class="category-desc">منصات حديثة تساعدك على تقديم خدمات صحية موثوقة وسلسة.</p>
          </div>
        </div>

        <div class="category-card">
          <div class="card-image">
            <img src="../../assets/category-travel.png" alt="سياحة وسفر">
          </div>
          <div class="card-content">
            <span class="category-label">سياحة وسفر</span>
            <p class="category-desc">حلول ذكية لإدارة وبيع خدمات السياحة والسفر أونلاين.</p>
          </div>
        </div>

        <div class="category-card">
          <div class="card-image">
            <img src="../../assets/category-food.png" alt="مطاعم">
          </div>
          <div class="card-content">
            <span class="category-label">مطاعم</span>
            <p class="category-desc">حل متكامل لعرض منتجات المطاعم وإدارة الطلبات باحترافية.</p>
          </div>
        </div>

        <div class="category-card">
          <div class="card-image">
            <img src="../../assets/category-education.png" alt="تعليم">
          </div>
          <div class="card-content">
            <span class="category-label">تعليم</span>
            <p class="category-desc">متاجر تقدّم محتوى وخدمات تعليمية لدعم التعلّم بشكل سهل وفعّال.</p>
          </div>
        </div>

      </div>
    </section>

    <section class="categories-section y-u-py-80">
      <div class="container y-u-max-w-1200">
        <div class="categories-header y-u-flex y-u-flex-col y-u-items-center y-u-justify-center y-u-p-40 y-u-rounded-m">
          <h2 class="y-u-text-l y-u-font-bold y-u-text-center y-u-m-b-32">
            اختر تصميم متجرك الأنيق من بين أكثر من 50 قالب احترافي
          </h2>
          <div class="tabs">
            <button class="tab-btn active">الكل</button>
            <button class="tab-btn">الملابس</button>
            <button class="tab-btn">مجوهرات</button>
            <button class="tab-btn">أثاث</button>
            <button class="tab-btn">كتب</button>
            <button class="tab-btn">مطاعم</button>
          </div>
        </div>

        <div class="templates-preview y-u-grid y-u-grid-4 y-u-gap-24">
          <div class="temp-item">
            <img src="../../assets/temp1.png" alt="معاينة قالب متجر إلكتروني 1" />
          </div>
          <div class="temp-item">
            <img src="../../assets/temp2.png" alt="معاينة قالب متجر إلكتروني 2" />
          </div>
          <div class="temp-item">
            <img src="../../assets/temp3.png" alt="معاينة قالب متجر إلكتروني 3" />
          </div>
          <div class="temp-item">
            <img src="../../assets/temp4.png" alt="معاينة قالب متجر إلكتروني 4" />
          </div>
        </div>
      </div>
    </section>





    <section class="trust-reviews-section y-u-py-80">
      <div class="container y-u-max-w-1200">

        <div class="trust-wrapper y-u-mb-96">
          <h2 class="center-title y-u-mb-48">لماذا يثق بنا عملاؤنا ؟</h2>
          <div class="trust-grid">

            <div class="trust-card">
              <div class="icon-box">
                <img src="../../assets/guarantee.svg" alt="أيقونة ضمان وسائل الدفع" />
              </div>
              <h3>وسائل دفع موثوقة وآمنة</h3>
              <p>نستخدم أحدث تقنيات الحماية لضمان أمان بياناتك وعمليات الدفع بالكامل.</p>
            </div>

            <div class="trust-card">
              <div class="icon-box">
                <img src="../../assets/technical-support.svg" alt="أيقونة الدعم الفني في يمامة" />
              </div>
              <h3>دعم مستمر بعد إطلاق متجرك</h3>
              <p>فريق دعم جاهز يساعدك في أي وقت، حتى بعد نشر متجرك وتشغيله.</p>
            </div>

            <div class="trust-card">
              <div class="icon-box">
                <img src="../../assets/press.svg" alt="أيقونة سرعة وسهولة استخدام المنصة" />
              </div>
              <h3>سرعة وسهولة</h3>
              <p>بدون تعقيد أو خبرة تقنية — كل شيء مصمم ليكون بسيط وسلس.</p>
            </div>

          </div>
        </div>

        <div class="reviews-wrapper">
          <h2 class="center-title y-u-mb-48">آراء العملاء</h2>
          <div class="reviews-grid">

            <div class="review-card">
              <p class="review-text">المنصة وفرت عليّ وقتًا ومجهودًا كبيرًا، ومتجري اشتغل في نفس اليوم</p>
              <h4 class="review-author">أحمد حسنين</h4>
              <div class="review-stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="review-card">
              <p class="review-text">المنصة وفرت عليّ وقتًا ومجهودًا كبيرًا، ومتجري اشتغل في نفس اليوم</p>
              <h4 class="review-author">أحمد حسنين</h4>
              <div class="review-stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

            <div class="review-card">
              <p class="review-text">المنصة وفرت عليّ وقتًا ومجهودًا كبيرًا، ومتجري اشتغل في نفس اليوم</p>
              <h4 class="review-author">أحمد حسنين</h4>
              <div class="review-stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

  </main>



  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>