<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-y='page-title'>404</title>
    <link rel="Icon" type="image/png" href="/assets/logo.png" data-y="favicon">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="../../components/y-buttons.css">

    <link rel="stylesheet" href="y-404.css">
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <div id="header-placeholder" data-y="header-placeholder"></div>
    <main data-y="main">
        <div class="y-u-container y-l-error" data-y="error-hero">
            <img src="/assets/404.png" alt="404" data-y="error-image">

            <a href="/templates/home/layout.html" class="y-c-basic-btn" data-y="error-home-button">
                العودة إلى الصفحة الرئيسية
            </a>
        </div>
    </main>

    <div id="footer-placeholder" data-y="footer-placeholder"></div>

    <script src="../../js/shared-components.js" data-y="shared-components-script"></script>
    <script src="../../js/auth-forms.js"></script>
    <script src="../../js/auth-popup.js"></script>
</body>

</html>