<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nafhat - متجر العطور</title>
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="manifest" href="../manifest.json" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="container y-u-w-full y-u-flex y-u-justify-center y-u-flex-col">
      <div class="header y-u-flex y-u-justify-between y-u-items-center y-u-p-y-56 y-u-p-t-24">
        <h1 class="y-u-color-primary y-u-text-2xl"> من نحن</h1>
      </div>
      <div class="content y-u-flex y-u-justify-center y-u-flex-col y-u-gap-24">
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">

          <p class="y-u-color-muted">
            نحن في [اسم البراند] نؤمن أن الجمال يبدأ من التفاصيل الصغيرة. منذ انطلاقنا في عام [سنة التأسيس] ونحن نقدم
            لعملائنا أجود أنواع العطور، منتجات المكياج، وحلول العناية الشخصية التي تجمع بين الفخامة والجودة.
          </p>
          <p class="y-u-color-muted">
            رؤيتنا هي أن نكون الوجهة الأولى لكل من يبحث عن منتجات أصلية وموثوقة تضيف لمسة خاصة لحياته اليومية.
          </p>
          <p class="y-u-color-muted">
            نحن ملتزمون بتقديم تجربة تسوق سلسة، دعم عملاء مميز، وأسعار تناسب الجميع. اكتشف مجموعتنا اليوم ودعنا نكون
            جزءًا من روتينك الجمالي.
          </p>

        </div>
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">
          <h2 class="y-u-color-primary y-u-text-xl"> رؤيتنا</h2>
          <p class="y-u-color-muted">
            أن نكون الوجهة الأولى لكل من يبحث عن منتجات أصلية وموثوقة تضيف لمسة خاصة لحياته اليومية.
          </p>
        </div>
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">
          <h2 class="y-u-color-primary y-u-text-xl"> قيمنا</h2>
          <p class="y-u-color-muted">
            1- الجودة والأصالة: نحرص على توفير منتجات أصلية ومضمونة.
          </p>
          <p class="y-u-color-muted">
            2- تجربة تسوق مميزة: واجهة سهلة ودعم عملاء سريع.
          </p>
          <p class="y-u-color-muted">
            3- لمسة فخامة بأسعار مناسبة: نمنح عملاءنا أفضل قيمة مقابل السعر.
          </p>
          <p class="y-u-color-muted">
            4- اكتشفي مجموعتنا الآن ودعينا نكون جزءًا من روتينك الجمالي اليومي.
          </p>
        </div>


      </div>
    </section>
  </main>



  <y-footer></y-footer>


  <script src="../../js/y-app-init.js"></script>
</body>

</html>