.clinic-page .bottom #doctors-clinic:checked ~ .doctors-box-clinic {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: var(--y-space-24);
}
.clinic-page .container::before {
  top: 154px;
}

.clinic-page .bottom .tabs {
  margin-bottom: var(--y-space-24);
}

@media (max-width: 768px) {
  .clinic-page .bottom #doctors-clinic:checked ~ .doctors-box-clinic {
    grid-template-columns: 1fr;
  }
  .clinic-page .container::before {
    top: 641px;
  }
}
