.sort-dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.store-section .categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(194px, 1fr));
  margin-bottom: var(--y-space-24);
  width: 100%;
}
.store-section .categories button,
.store-section .categories a.cat-link {
  background-color: var(--y-color-fg);
  border: none;
  padding-block: var(--y-space-16);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
  border: 1px solid var(--y-color-border);
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--y-space-18);
  text-decoration: none;
  display: block;
}
.store-section .categories button:not(:last-child),
.store-section .categories a.cat-link:not(:last-child) {
  border-left: none;
}
.store-section .categories button:hover,
.store-section .categories a.cat-link:hover {
  background-color: var(--y-color-button);
  color: var(--y-color-text);
}
.store-section .categories button.active,
.store-section .categories a.cat-link.active {
  background-color: var(--y-color-button) !important;
  color: var(--y-color-text) !important;
}
@media (max-width: 768px) {
  .store-section .categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .store-section .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
