<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stationary</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/pagination.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="../../components/fav-icon.css" />
  <link rel="stylesheet" href="../../components/filter.css" />
  <link rel="stylesheet" href="./store.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner panner-image  y-u-m-b-0 container y-u-max-w-1200">
      <h1 class="y-u-text-center"> اكتشف منتجاتنا</h1>
    </section>
    <section class="breadcrumbs container y-u-max-w-1200 y-u-m-b-0 ">
      <a href="../layout/index.html">الرئيسية</a>
      <p>المنتجات</p>
    </section>

    <section class="products-section store-section">


      <div class="container y-u-max-w-1200">    
        <div class="categories">
          <button>عروض وتخفيضات</button>
          <button class="active">كراسات و منتجات ورقية</button>
          <button>أقلام و أدوات الكتابة</button>
          <button>آلات حاسبة</button>
          <button>أطقم المكتب</button>
          <button>أدوات مدرسية</button>
        </div>  
        <div class="custom-dropdown sort-dropdown">
        <div class="dropdown-trigger">
            <span class="current-sort">تصنيف حسب</span>
            <i class="fa-solid fa-angle-down dropdown-arrow"></i>
        </div>
        <ul class="dropdown-options">
            <li data-value="option1">الأعلى تقييما</li>
            <li data-value="option2">السعر من الأعلى إلى الأقل</li>
            <li data-value="option3">السعر من الأقل إلى الأعلى</li>
            <li data-value="option4">الأحدث</li>
        </ul>
    </div>
        <ul class="grid">
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="../product-details/product-details.html">
              <div class="img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product-1.png" alt="نوت بوك مسطر غلاف ورق 100 ورقة">
              </div>
              <div class="content">
                <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
                  <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
                </div>
                <div class="bottom">
                  <p>
                    <span>
                      50 <img src="../../assets/ryal.svg" alt="ريال">
                    </span>
                  </p>
                  <button class="button"> أضف إلى السلة </button>
                </div>
              </div>
            </a>
          </li>
         
        </ul>
        <div class="pagination">
          <button><i class="fa-solid fa-chevron-right"></i></button>
          <button>24</button>
          <div class="middle">من</div>
          <button class="active">1</button>
          <button><i class="fa-solid fa-chevron-left"></i></button>
        </div>
      </div>
    </section>

  </main>
  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
  <script src="../../js/dropdown.js"></script>
</body>

</html>