<div class="categories">
  <a href="../../templates/for home/layout.html" class="category">
    <img src="../../assets/category1.png" alt="أدوات المطبخ" />
    <h3 class="category-title">أدوات المطبخ</h3>
  </a>
  <a href="../../templates/electronics/layout.html" class="category">
    <img src="../../assets/category2.png" alt="الأجهزة الإلكترونية" />
    <h3 class="category-title">الأجهزة الإلكترونية</h3>
  </a>
  <a href="../../templates/decoration/layout.html" class="category">
    <img src="../../assets/category3.png" alt="الديكور" />
    <h3 class="category-title">الديكور</h3>
  </a>
  <a href="../../templates/offers/layout.html" class="category">
    <img src="../../assets/category4.png" alt="الرفايع" />
    <h3 class="category-title">الرفايع</h3>
  </a>
</div>