<header class="header">
  <div class="ad">
    <img src="../../assets/header1.png" alt="" />
    <img src="../../assets/header2.png" alt="" />
  </div>

  <div class="adv">
    <div class="adv1">
      <img src="../../assets/adv1.png" alt="">
      <div class="cont">
        <h1>أسعار تنافسية</h1>
        <p>أفضل الأسعار في السوق مع ضمان الجودة</p>
      </div>
    </div>
    <div class="adv2">
      <img src="../../assets/adv2.png" alt="">
      <div class="cont">
        <h1>توصيل سريع</h1>
        <p>خدمة توصيل سريعة وموثوقة إلى باب منزلك</p>
      </div>
    </div>
    <div class="adv3">
      <img src="../../assets/adv3.png" alt="">
      <div class="cont">
        <h1>خدمة عملاء ممتازة</h1>
        <p>فريق دعم متعاون وجاهز لمساعدتك في أي وقت</p>
      </div>
    </div>
  </div>
</header>