<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-y='page-title'>404</title>
    <link rel="Icon" type="image/png" href="/assets/logo.png" data-y="favicon">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="y-404.css">
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <div id="header-placeholder" class="y-c-sticky-header"></div>

    <div id="header-placeholder" class="y-c-sticky-header"></div>
    <main>
        <div class="y-l-container y-u-flex y-u-align-center y-u-justify-center" data-y="error-hero">
            <img src="/assets/404.png" alt="404">
        </div>
    </main>

    <div id="footer-placeholder" data-y="footer-placeholder"></div>

    <script src="../../js/shared-components.js" data-y="shared-components-script"></script>
</body>

</html>