<ul class="products y-u-my-10">
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <a href="../../templates/single product/layout.html"></a>
      <div class="product-card-img">
        <img src="../../assets/bag1.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">صندل كعب</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/bag2.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">كوتشي رياضي</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/bag3.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">هاف بوت</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/bag1.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">صندل كعب</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/bag2.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">كوتشي رياضي</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/bag3.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">هاف بوت</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes1.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">صندل كعب</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes2.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">كوتشي رياضي</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes3.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">هاف بوت</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes1.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">صندل كعب</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes2.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">كوتشي رياضي</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes3.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">هاف بوت</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/bag2.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">كوتشي رياضي</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/bag3.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">هاف بوت</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes1.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">صندل كعب</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes2.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">كوتشي رياضي</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes3.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">هاف بوت</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes1.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">صندل كعب</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes2.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">كوتشي رياضي</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <button class="wishlist-btn" aria-label="Add to wishlist">
      <i class="fa-regular fa-heart"></i>
    </button>
    <div class="product-card-img">
      <img src="../../assets/shoes3.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">هاف بوت</h3>
      <span class="product-card-price">54.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
    </a>
  </li>
</ul>