<div class="new-filter-bar sub-filter-bar">
  <div class="filter-right">
    <!-- Multiple Dropdowns for Filtering (SHOES) -->
    <div class="custom-dropdown filter-dropdown">
      <div class="dropdown-trigger">
        اللون
        <i class="fa-solid fa-angle-down dropdown-arrow"></i>
      </div>
      <ul class="dropdown-options">
        <li data-filter="color" data-value="all">الكل</li>
        <li data-filter="color" data-value="black">أسود</li>
        <li data-filter="color" data-value="white">أبيض</li>
        <li data-filter="color" data-value="red">أحمر</li>
      </ul>
    </div>

    <div class="custom-dropdown filter-dropdown">
      <div class="dropdown-trigger">
        المقاس
        <i class="fa-solid fa-angle-down dropdown-arrow"></i>
      </div>
      <ul class="dropdown-options">
        <li data-filter="size" data-value="all">الكل</li>
        <li data-filter="size" data-value="36">36</li>
        <li data-filter="size" data-value="37">37</li>
        <li data-filter="size" data-value="38">38</li>
        <li data-filter="size" data-value="39">39</li>
        <li data-filter="size" data-value="40">40</li>
        <li data-filter="size" data-value="41">41</li>
      </ul>
    </div>

    <div class="custom-dropdown filter-dropdown">
      <div class="dropdown-trigger">
        نوع المنتج
        <i class="fa-solid fa-angle-down dropdown-arrow"></i>
      </div>
      <ul class="dropdown-options">
        <li data-filter="product-type" data-value="all">الكل</li>
        <li data-filter="product-type" data-value="sandal">صندل</li>
        <li data-filter="product-type" data-value="sneaker">كوتشي</li>
        <li data-filter="product-type" data-value="boot">بوت</li>
        <li data-filter="product-type" data-value="heels">كعب</li>
        <li data-filter="product-type" data-value="flats">فلات</li>
      </ul>
    </div>

    <div class="custom-dropdown filter-dropdown">
      <div class="dropdown-trigger">
        النوع
        <i class="fa-solid fa-angle-down dropdown-arrow"></i>
      </div>
      <ul class="dropdown-options">
        <li data-filter="type" data-value="all">الكل</li>
        <li data-filter="type" data-value="casual">كاجوال</li>
        <li data-filter="type" data-value="classic">كلاسيك</li>
        <li data-filter="type" data-value="sports">رياضي</li>
      </ul>
    </div>
  </div>

  <div class="filter-left">
    <div class="custom-dropdown sort-dropdown">
      <div class="dropdown-trigger sort-trigger">
        <span class="current-sort">ترتيب حسب</span>
        <i class="fa-solid fa-angle-down dropdown-arrow"></i>
      </div>
      <ul class="dropdown-options">
        <li data-sort="rating">الاعلى تقييما</li>
        <li data-sort="price-desc">السعر من الأعلى إلى الأقل</li>
        <li data-sort="price-asc">السعر من الأقل إلى الأعلى</li>
      </ul>
    </div>
  </div>
</div>