<footer class="footer">
  <div class="container y-u-max-w-1200">
    <div class="logo">
      <a href="../home/index.html">
        <img src="../../assets/navbar-icon.png" alt="شعار Yamama">
      </a>
    </div>
    <div class="bottom">
      <div class="links y-u-flex y-u-flex-col ">
        <h2>روابط سريعه</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../home/index.html">الرئيسية</a></li>
          <li><a href="../faq/index.html">الأسئلة الشائعة</a></li>
          <li><a href="../guide/index.html">المساعدة</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>السياسات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../404/index.html">سياسة الخصوصية</a></li>
          <li><a href="../404/index.html">سياسة الاسترجاع</a></li>
          <li><a href="../404/index.html">سياسة الشحن</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col contact-links ">
        <h2>تواصل معنا</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="#"><img src="../../assets/map.svg" alt="أيقونة الموقع"> الرياض، المملكة العربية السعودية</a></li>
          <li><a href="#"><img src="../../assets/email.svg" alt="أيقونة البريد الإلكتروني"> info@yamama.com</a></li>
          <li><a href="#"  style="direction: ltr; flex-direction: row-reverse;"> <img src="../../assets/phone.svg" alt="أيقونة الهاتف">+966 12 345 6789</a></li>
        </ul>
      </div>
    </div>
    <p>جميع الحقوق محفوظة © Yamama Solutions</p>
  </div>
</footer>