<div class="product-item">
  <div class="product">
    <button><img src="../../assets/trash.svg" alt=""></button>
    <img src="../../assets/pro2.jpg" alt="">
    <p>سيرم فيتامين سي </p>
  </div>
  <div class="others">
    <p class="mobile">
      سيرم فيتامين سي
    </p>
    <div class="price">
      <p>50</p>
      <img src="../../assets/ryal.svg" alt="">
    </div>
    <div class="quantity">
      <button>-</button>
      <input type="number" value="1">
      <button>+</button>
    </div>
    <div class="total">
      <p>50</p>
      <img src="../../assets/ryal.svg" alt="">
    </div>
  </div>
</div>


