<div class="custom-dropdown">
    <div class="dropdown-trigger btn-white">
        <span class="current-sort"> {{ title }}</span>
        <i class="fa-solid fa-chevron-down dropdown-arrow"></i>
    </div>
    <ul class="dropdown-options">
        <li> {{ option1 }}</li>
        <li> {{ option2 }}</li>
        <li> {{ option3 }}</li>
    </ul>
</div>

<!-- the related css file is filter.css -->
<link rel="stylesheet" href="../../components/filter.css">

<!-- the related js file is dropdown.js -->
<script src="../../js/dropdown.js"></script>