<footer class="footer">
  <div class="container y-u-max-w-1200">
    <div class="logo">
      <a href="../layout/index.html">
        <img src="../../assets/footer-icon.png" alt="footer-icon">
      </a>
    </div>
    <div class="bottom">
      <div class="main y-u-flex y-u-flex-col ">
        <P>
          نحن شركة متخصصة في تقديم أفضل أدوات ومنتجات التجميل للعناية بالبشرة والشعر، نحرص على الجمع بين الجودة العالية
          والمكونات الآمنة لتمنحكِ تجربة عناية فريدة ونتائج ملموسة. هدفنا أن نساعد كل امرأة على إبراز جمالها الطبيعي من
          خلال منتجات مبتكرة تراعي احتياجات جميع أنواع البشرة والشعر.
        </P>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>الصفحات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../layout/index.html">الرئيسيه</a></li>
          <li><a href="../store/store.html">المتجر</a></li>
          <li><a href="../about-us/about-us.html">من نحن</a></li>
          <li><a href="../contact/contact.html">تواصل معنا</a></li>
          <li><a href="../cart/cart.html">السلة</a></li>
          <li><a href="../profile/profile.html">حسابي</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>السياسات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../policies/privacy-policy.html">سياسة الخصوصية</a></li>
          <li><a href="../policies/return-policy.html">سياسة الاسترجاع</a></li>
          <li><a href="../policies/shipping-policy.html">سياسة الشحن</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>تواصل معنا</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="#"><img src="../../assets/map.svg" alt=""> الرياض , المملكة العربية
              السعودية</a></li>
          <li><a href="#"><img src="../../assets/email.svg" alt=""> Alaliya@gmail.com </a></li>
          <li><a href="#"> <img src="../../assets/phone.svg" alt="">+966 12 345 6789</a></li>
        </ul>
      </div>
    </div>
    <p>جميع الحقوق محفوظة &copy; Yamamah Solutions</p>
  </div>
</footer>