<a href="../product-details/product-details.html">
  <li class="product-card">
    <div class="product-img">
      <label class="favorite-toggle">
        <input type="checkbox" class="favorite-toggle__checkbox">
        <span class="favorite-toggle__icon">

          <i class="fa-solid fa-heart" aria-hidden="true"></i>
          <i class="fa-regular fa-heart" aria-hidden="true"></i>
        </span>
      </label>
      <img src="../../assets/pro2.jpg" alt="">
      <button><img src="../../assets/add-to-cart.svg" alt=""></button>
    </div>
    <div class="product-content">
      <p class="product-title">سيرم فيتامين سي</p>
      <p class="product-price">50 <img src="../../assets/ryal.svg" alt=""></p>
    </div>
  </li>
</a>