<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=no" />
  <title data-y="page-title">My Kitchen</title>
  <link rel="icon" href="../../assets/icon.png" />

  <link rel="stylesheet" href="https:
  <link href="https:

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../base/utilities.css" />

  <link rel="stylesheet" href="../../components/layout/y-c-navbar.css" />
  <link rel="stylesheet" href="../../components/layout/y-c-footer.css" />
  <link rel="stylesheet" href="../../templates/pages header/y-c-design-header.css" />
  <link rel="stylesheet" href="../../components/layout/y-c-breadcrumb.css" />
  <link rel="stylesheet" href="../../components/cards/y-c-product-card.css" />
  <link rel="stylesheet" href="../../components/products/y-c-products.css" />
  <link rel="stylesheet" href="../../components/buttons/y-c-btn.css" />

  <link rel="stylesheet" href="../../components/home/y-c-section.css" />
  <link rel="stylesheet" href="../../components/products/y-c-empty.css" />
  <link rel="stylesheet" href="../../css/y-animations.css" />
</head>

<body data-current-page="empty-cart">
  <div data-y="nav"></div>
  <header data-y="design-header"></header>

  <main data-y="main" class="not-found-container">
    <div class="y-main-container">
      <div data-y="breadcrumb"></div>
      <div class="not-found-content">
        <img src="../../assets/empty-cart.png" alt="السلة فارغة" class="not-found-img" />
        <p class="not-found-text">
          السلة فارغة، لم تقم بإضافة أي منتجات إلى السلة الخاصة بك بعد.
        </p>
        <a href="../../templates/products/layout.html" class="btn-back">
          أضف منتجات <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>

      <div class="pro section section1">
        <h1 class="title"> منتجاتنا</h1>
        <ul class="products y-u-my-10">
          <li class="product-card">
            <a href="../../templates/single product/layout.html"></a>
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/product.png" alt="" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">
                تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
              </h3>
            </div>
            <div class="buy">
              <div class="product-price">
                <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
              </div>
              <a href="../../templates/cart/layout.html" class="add-to-cart">
                <img src="../../assets/addcart.png" alt="" />
              </a>
            </div>
          </li>

        </ul>

      </div>
    </div>

  </main>

  <footer data-y="footer"></footer>

  <script src="../../js/header-toggle.js"></script>
  <script src="../../js/y-navbar.js"></script>
  <script src="../../js/y-footer.js"></script>
  <script src="../../js/y-design-header.js"></script>
  <script src="../../js/y-breadcrumb.js"></script>
</body>

</html>