<ul class="cart-list">
  <li class="cart-item">
    <div class="product-info">
      <div class="product-img">
        <img src="../../assets/product.png" alt="product" />
      </div>
      <div class="product-details">
        <h5 class="product-title">اسم المنتج</h5>
        <h4 class="y-u-d-flex y-u-align-items-center">
          7056
          <span
            ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
          /></span>
        </h4>
      </div>
    </div>

    <div class="qnt">
      <button class="btn btn-outline">-</button>
      <span>1</span>
      <button class="btn btn-outline">+</button>
    </div>

    <div class="product-total">
      <p class="y-u-d-flex y-u-align-items-center">
        المجموع: 7056
        <span
          ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </p>
    </div>
    <div class="remove">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </li>
  <li class="cart-item">
    <div class="product-info">
      <div class="product-img">
        <img src="../../assets/product.png" alt="product" />
      </div>
      <div class="product-details">
        <h5 class="product-title">اسم المنتج</h5>
        <h4 class="y-u-d-flex y-u-align-items-center">
          7056
          <span
            ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
          /></span>
        </h4>
      </div>
    </div>

    <div class="qnt">
      <button class="btn btn-outline">-</button>
      <span>1</span>
      <button class="btn btn-outline">+</button>
    </div>

    <div class="product-total">
      <p class="y-u-d-flex y-u-align-items-center">
        المجموع: 7056
        <span
          ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </p>
    </div>
    <div class="remove">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </li>
  <li class="cart-item">
    <div class="product-info">
      <div class="product-img">
        <img src="../../assets/product.png" alt="product" />
      </div>
      <div class="product-details">
        <h5 class="product-title">اسم المنتج</h5>
        <h4 class="y-u-d-flex y-u-align-items-center">
          7056
          <span
            ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
          /></span>
        </h4>
      </div>
    </div>

    <div class="qnt">
      <button class="btn btn-outline">-</button>
      <span>1</span>
      <button class="btn btn-outline">+</button>
    </div>

    <div class="product-total">
      <p class="y-u-d-flex y-u-align-items-center">
        المجموع: 7056
        <span
          ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </p>
    </div>
    <div class="remove">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </li>
  <li class="cart-item">
    <div class="product-info">
      <div class="product-img">
        <img src="../../assets/product.png" alt="product" />
      </div>
      <div class="product-details">
        <h5 class="product-title">اسم المنتج</h5>
        <h4 class="y-u-d-flex y-u-align-items-center">
          7056
          <span
            ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
          /></span>
        </h4>
      </div>
    </div>

    <div class="qnt">
      <button class="btn btn-outline">-</button>
      <span>1</span>
      <button class="btn btn-outline">+</button>
    </div>

    <div class="product-total">
      <p class="y-u-d-flex y-u-align-items-center">
        المجموع: 7056
        <span
          ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </p>
    </div>
    <div class="remove">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </li>
  <li class="cart-item">
    <div class="product-info">
      <div class="product-img">
        <img src="../../assets/product.png" alt="product" />
      </div>
      <div class="product-details">
        <h5 class="product-title">اسم المنتج</h5>
        <h4 class="y-u-d-flex y-u-align-items-center">
          7056
          <span
            ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
          /></span>
        </h4>
      </div>
    </div>

    <div class="qnt">
      <button class="btn btn-outline">-</button>
      <span>1</span>
      <button class="btn btn-outline">+</button>
    </div>

    <div class="product-total">
      <p class="y-u-d-flex y-u-align-items-center">
        المجموع: 7056
        <span
          ><img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </p>
    </div>
    <div class="remove">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </li>

</ul>
