<div class="single-product">
  <div class="thumbnails">
    <img src="../../assets/sm1.png" alt="" />
    <img src="../../assets/sm2.png" alt="" />
    <img src="../../assets/sm2.png" alt="" />
  </div>
  <div>
    <img src="../../assets/product.png" alt="" />
  </div>
  <div class="details">
    <h3>كنبة مودرن</h3>
    <p class="code">#786A5</p>
    <h2>350 ر.س</h2>
    <div class="actions">
      <div class="qnt">
        <button class="btn btn-outline">-</button>
        <span>1</span>
        <button class="btn btn-outline">+</button>
      </div>
      <button class="btn btn-primary">أضف إلى السلة</button>
      <button class="btn btn-primary">شراء الآن</button>
    </div>
  </div>
</div>
