<div class="notifications-container">
  <div class="notification-item">
    <div class="notification-content">
      <p class="notification-text">
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص.
      </p>
    </div>
    <div class="notification-icon">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-content">
      <p class="notification-text">
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص.
      </p>
    </div>
    <div class="notification-icon">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-content">
      <p class="notification-text">
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص.
      </p>
    </div>
    <div class="notification-icon">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-content">
      <p class="notification-text">
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص.
      </p>
    </div>
    <div class="notification-icon">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>

  <div class="notification-item">
    <div class="notification-content">
      <p class="notification-text">
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص.
      </p>
    </div>
    <div class="notification-icon">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
</div>