<div class="address-filled-state">
                
    <div class="address-display-card">
      <button class="address-close">
        <i class="fas fa-times"></i>
      </button>
      <div class="top">
      <h3 class="address-card-title">أدخل عنوان الفاتورة الجديد *</h3>
        <div class="buttons">
          <button class="btn-edit">تعديل</button>
          <button class="btn-edit">إضافة</button>
        </div>
      </div>

      <div class="address-info">
        <p class="address-name">عبدالله محمد</p>
        <p class="address-line">345 الهادي</p>
        <p class="address-line">المدينة المنورة</p>
        <p class="address-line">128475</p>
        <p class="address-line">05673948</p>
        <p class="address-line">abd@gmail.com</p>
      </div>
    </div>
  </div>