<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=no" />
  <title data-y="page-title">المفضلة فارغة - خطى للأحذية</title>
  <link rel="icon" href="../../assets/icon.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../base/utilities.css" />

  <link rel="stylesheet" href="../../components/layout/y-c-navbar.css" />
  <link rel="stylesheet" href="../../components/layout/y-c-footer.css" />
  <link rel="stylesheet" href="../../templates/pages header/y-c-design-header.css" />
  <link rel="stylesheet" href="../../components/layout/y-c-breadcrumb.css" />
  <link rel="stylesheet" href="../../components/cards/y-c-product-card.css" />
  <link rel="stylesheet" href="../../components/products/y-c-products.css" />
  <link rel="stylesheet" href="../../components/buttons/y-c-btn.css" />

  <link rel="stylesheet" href="../../components/products/y-c-empty.css" />
  <link rel="stylesheet" href="../../css/y-animations.css" />
</head>

<body data-current-page="empty-cart">
  <div data-y="nav"></div>
  <header data-y="design-header"></header>


  <main data-y="main" class="not-found-container">
    <div class="y-main-container">
      <div data-y="breadcrumb"></div>
      <div class="not-found-content">
        <img src="../../assets/empty-cart.png" alt="السلة فارغة" class="not-found-img" />
        <p class="not-found-text">
          السلة فارغة، لم تقم بإضافة أي منتجات إلى السلة الخاصة بك بعد.
        </p>
        <a href="../../templates/products/layout.html" class="btn-back">
          أضف منتجات <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>


      <div class="pro">
        <h1 class="title"> منتجاتنا</h1>
        <ul class="products y-u-my-10">
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <img src="../../assets/product.png" alt="shoe" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>
          <li class="product-card">
            <div class="product-card-img">
              <img src="../../assets/product.png" alt="shoe" />
            </div>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم مودرن</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>
          <li class="product-card">
            <div class="product-card-img">
              <img src="../../assets/product.png" alt="shoe" />
            </div>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم فاخرة</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <img src="../../assets/product.png" alt="shoe" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <img src="../../assets/product.png" alt="shoe" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>
          <li class="product-card">
            <div class="product-card-img">
              <img src="../../assets/product.png" alt="shoe" />
            </div>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم مودرن</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>
          <li class="product-card">
            <div class="product-card-img">
              <img src="../../assets/product.png" alt="shoe" />
            </div>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم فاخرة</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>
          <li class="product-card">
            <a href="../../templates/single product/layout.html">
              <div class="product-card-img">
                <img src="../../assets/product.png" alt="shoe" />
              </div>
            </a>
            <div class="product-card-info">
              <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
              <span class="product-card-price">
                2500
                <img src="../../assets/ryal.svg" alt="ر.س" />
              </span>
            </div>
            <a href="../../templates/cart/layout.html" class="btn-primary">أضف إلى السلة
            </a>
          </li>


        </ul>

      </div>
    </div>

  </main>

  <footer data-y="footer"></footer>

  <script src="../../js/y-navbar.js"></script>
  <script src="../../js/y-footer.js"></script>
  <script src="../../js/y-design-header.js"></script>
  <script src="../../js/y-breadcrumb.js"></script>
</body>

</html>