<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beauty Care</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products-table.css" />
  <link rel="stylesheet" href="../../components/quantity.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="../../components/total.css" />
  <link rel="stylesheet" href="cart.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner cart">
      <h1 class="y-u-text-center"> السلة </h1>
      <div class="breadcrumbs container y-u-max-w-1200">
        <a href="../layout/index.html">الرئيسية</a>
        <p>السلة</p>
      </div>
    </section>
    <section class="container y-u-max-w-1200 cart-section">
      <div class="products">
        <h3>إجمالي المنتجات</h3>
        <div class="header">
          <p>المنتج</p>
          <p>السعر</p>
          <p>الكمية</p>
          <p>الإجمالي</p>
        </div>
        <div class="product-grid">
          <div class="product-item">
            <div class="product">
              <button><img src="../../assets/trash.svg" alt=""></button>
              <img src="../../assets/pro2.jpg" alt="">
              <p>سيرم فيتامين سي </p>
            </div>
            <div class="others">
              <p class="mobile">
                سيرم فيتامين سي
              </p>
              <div class="price">
                <p>50</p>
                <img src="../../assets/ryal.svg" alt="">
              </div>
              <div class="quantity">
                <button>-</button>
                <input type="number" value="1">
                <button>+</button>
              </div>
              <div class="total">
                <p>50</p>
                <img src="../../assets/ryal.svg" alt="">
              </div>
            </div>


          </div>
          <div class="product-item">
            <div class="product">
              <button><img src="../../assets/trash.svg" alt=""></button>
              <img src="../../assets/pro2.jpg" alt="">
              <p>سيرم فيتامين سي </p>
            </div>
            <div class="others">
              <p class="mobile">
                سيرم فيتامين سي
              </p>
              <div class="price">
                <p>50</p>
                <img src="../../assets/ryal.svg" alt="">
              </div>
              <div class="quantity">
                <button>-</button>
                <input type="number" value="1">
                <button>+</button>
              </div>
              <div class="total">
                <p>50</p>
                <img src="../../assets/ryal.svg" alt="">
              </div>
            </div>


          </div>
          <div class="product-item">
            <div class="product">
              <button><img src="../../assets/trash.svg" alt=""></button>
              <img src="../../assets/pro2.jpg" alt="">
              <p>سيرم فيتامين سي </p>
            </div>
            <div class="others">
              <p class="mobile">
                سيرم فيتامين سي
              </p>
              <div class="price">
                <p>50</p>
                <img src="../../assets/ryal.svg" alt="">
              </div>
              <div class="quantity">
                <button>-</button>
                <input type="number" value="1">
                <button>+</button>
              </div>
              <div class="total">
                <p>50</p>
                <img src="../../assets/ryal.svg" alt="">
              </div>
            </div>


          </div>

        </div>


      </div>


      <div class="left">
        <h3> إجمالي سلة المشتريات</h3>
        <div class="total-card">
          <p>
            المجموع 
            <span class="y-u-flex y-u-items-center y-u-gap-8">100 <img src="../../assets/ryal.svg" alt=""></span>
          </p>
          <p>
            ضريبة القيمة المضافة 
            <span class="y-u-flex y-u-items-center y-u-gap-8">100 <img src="../../assets/ryal.svg" alt=""></span>
          </p>
          <p class="estimated-total"> 
            الإجمالى المقدر 
            <span class="y-u-flex y-u-items-center y-u-gap-8">1100 <img src="../../assets/ryal.svg" alt=""></span>
          </p>
        </div>
        <a href="../payment/payment.html" class="btn main-button"> اذهب إلى الدفع</a>
        <a href="../store/store.html" class="btn outline"> مواصلة التسوق</a>

      </div>

    </section>
  </main>


  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>