<section class="y-l-component-container">

    <h2 class="y-c-form-section-title" data-y="contracts-title">العقود</h2>

    <div class="y-c-account-filter-tabs" data-y="contracts-filter-tabs">
        <button class="y-c-account-filter-btn active" data-y="filter-contracts-open">
            <i class="fas fa-chevron-right"></i>
            <span>مفتوح</span>
        </button>
        <button class="y-c-account-filter-btn" data-y="filter-contracts-claim">
            <i class="fas fa-chevron-right"></i>
            <span>تحت المطالبة</span>
        </button>
        <button class="y-c-account-filter-btn" data-y="filter-contracts-closed">
            <i class="fas fa-chevron-right"></i>
            <span>مغلق</span>
        </button>
    </div>

    <ul class="y-c-booking-list" data-y="contracts-list">
        <li class="y-c-empty-message">
            جاري تحميل العقود...
        </li>
    </ul>

</section>