<footer class="footer">
  <div class="footer-content">
    <div class="footer-col sec1">
      <div class="footer-brand">
        <img src="../../assets/flogo.png" alt="شعار" class="footer-logo" />
      </div>
      <p data-y="footer-address">
        <i class="fa-solid fa-location-dot"></i>الرياض - المملكة العربية
        السعودية
      </p>
      <p data-y="footer-phone"><i class="fa-solid fa-phone"></i>059688929 - 058493948</p>
      <p data-y="footer-email"><i class="fa-solid fa-envelope"></i> info@super.ksa.com</p>
    </div>

    <div class="footer-col sec2">
      <h5>الصفحات</h5>
      <ul>
        <li><a href="/my-kitchen/">الرئيسية</a></li>
        <li><a href="/my-kitchen/offers/">العروض</a></li>
        <li><a href="/my-kitchen/shop/">المنتجات</a></li>

      </ul>
    </div>

    <div class="footer-col sec3">
      <h5>معلومات عنا</h5>
      <ul>
        <li><a href="/my-kitchen/privacy-policy/">سياسة الخصوصية</a></li>
        <li>
          <a href="/my-kitchen/refund-policy/">سياسة الاسترجاع</a>
        </li>
        <li><a href="/my-kitchen/using-policy/">سياسة الشحن</a></li>
        <li><a href="/my-kitchen/about-us/">من نحن</a></li>
        <li><a href="/my-kitchen/contact-us/">تواصل معنا</a></li>
      </ul>
    </div>
  </div>

  <div class="last">
    <p>جميع الحقوق محفوظة ل @ yamamah solutions</p>
    <div>
      <p>طرق الدفع</p>
      <img src="../../assets/visa.png" alt="طرق الدفع" />
      <img src="../../assets/mastercard.png" alt="طرق الدفع" />
      <img src="../../assets/stc pay.png" alt="طرق الدفع" />
    </div>
  </div>

  <div class="floating-contact">
    <a href="#" class="floating-btn whatsapp" data-y="floating-whatsapp" aria-label="WhatsApp">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a href="#" class="floating-btn phone" data-y="floating-phone" aria-label="Phone">
      <i class="fa-solid fa-phone"></i>
    </a>
  </div>
</footer>