<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nafhat - متجر العطور</title>
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="manifest" href="../manifest.json" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="container y-u-w-full y-u-flex y-u-justify-center y-u-flex-col">
      <div class="header y-u-flex y-u-justify-between y-u-items-center y-u-p-y-56 y-u-p-t-24">
        <h1 class="y-u-color-primary y-u-text-2xl">سياسة الاستخدام</h1>
      </div>
      <div class="content y-u-flex y-u-justify-center y-u-flex-col y-u-gap-24">
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">
          <h2 class="y-u-color-text y-u-text-xl">سياسية الاسترجاع والاسترداد</h2>
          <p class="y-u-color-muted">
            نعمل دائما لنيل رضاكم ونكون عند حسن ظنكم بنا. إذا كنت ترغب في إرجاع منتج ما، فنحن نقبل بسرور استبدال المنتج
            أو منحك رصيداً في المطعم أو إرجاع المنتج مقابل نقاط مطاعم البَّاني.
            في حال طلب استرجاع أي منتج، يرجى التواصل معنا عبر البريد الإلكتروني: info@gmail.com أو الهاتف أو الواتساب:
            0558842828
          </p>
        </div>
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">
          <h2 class="y-u-color-text y-u-text-xl"> الدفع عبر الإنترنت:</h2>
          <p class="y-u-color-muted">
            ستتم معالجة المبالغ المستردة في غضون ٢٤ ساعة وستضاف إلى حساب العميل في غضون 3-5 أيام عمل، اعتمادًا على مصدر
            البنك.
          </p>
        </div>
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">
          <h2 class="y-u-color-text y-u-text-xl"> الدفع نقدا عند التسليم:</h2>
          <p class="y-u-color-muted">
            ستُضاف المبالغ المستردة إلى حساب العميل كنقاط مطاعم البَّاني ويمكن استخدامها في الطلب التالي.
          </p>
        </div>
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">
          <h2 class="y-u-color-text y-u-text-xl"> نقاط مطاعم البَّاني:</h2>
          <p class="y-u-color-muted">
            ستُضاف المبالغ المستردة إلى حساب العميل كنقاط مطاعم البَّاني ويمكن استخدامها في الطلب التالي
          </p>
        </div>
        <div class="slide" class="y-u-flex y-u-justify-center y-u-flex-col y-u-gap-12">
          <h2 class="y-u-color-text y-u-text-xl"> سياسة الشحن</h2>
          <p class="y-u-color-muted">
            يتم الشحن خلال اليوم لكل الطلبات داخل المدينة المنورة، اما كل الطلبات داخل السعودية وخارج المدينة المنورة
            يستغرق الشحن من يوم الى ثلاثة ايام عمل.
          </p>
        </div>

      </div>
    </section>
  </main>



  <y-footer></y-footer>


  <script src="../../js/y-app-init.js"></script>
</body>

</html>