<div class="new-filter-bar">
  <div class="filter-right">
    <div class="custom-dropdown products-dropdown">
      <div class="dropdown-trigger products-trigger">
        المفضلة
      </div>
    </div>
  </div>

  <div class="filter-left">
    <div class="custom-dropdown sort-dropdown">
      <div class="dropdown-trigger sort-trigger">
        <span class="current-sort">ترتيب حسب</span>
        <i class="fa-solid fa-angle-down dropdown-arrow"></i>
      </div>
      <ul class="dropdown-options">
        <li data-sort="rating">الاعلى تقييما</li>
        <li data-sort="price-desc">السعر من الأعلى إلى الأقل</li>
        <li data-sort="price-asc">السعر من الأقل إلى الأعلى</li>
      </ul>
    </div>
  </div>
</div>
