

<ul class="products y-u-my-10">
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم مودرن</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم فاخرة</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم مودرن</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم فاخرة</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم مودرن</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم فاخرة</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم مودرن</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم فاخرة</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم مودرن</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم فاخرة</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">
        2500
        <img src="../../assets/ryal.svg" alt="ر.س" />
      </span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم مودرن</h3>
      <span class="product-card-price">2500.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="product-card-img">
      <img src="../../assets/product.png" alt="shoe" />
    </div>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم فاخرة</h3>
      <span class="product-card-price">2500.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <a href="../../templates/single product/layout.html"
      ><div class="product-card-img">
        <img src="../../assets/product.png" alt="shoe" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
      <span class="product-card-price">2500.ر.س</span>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة
    </a>
  </li>

</ul>
