<footer class="footer">
  <div class="container y-u-max-w-1200">
    <div class="logo">

      <div class="links y-u-flex y-u-flex-col ">
        <a href="../layout/index.html">
          <img src="../../assets/navbar-icon.png" alt="logo">
          <img src="../../assets/footer-icon.png" alt="footer-icon">
        </a>

        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <p>الجمال والأناقة في صالون بيوتي، نقدم لكِ أحدث صيحات الجمال وخدمات التجميل لإطلالة متألقة تبرز جمالك.</p>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>الصفحات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../layout/index.html">الرئيسيه</a></li>
          <li><a href="../services/services.html">الاقسام</a></li>
          <li><a href="../products/onsale.html"> العروض والباقات</a></li>
          <li><a href="../privacy-policy/privacy-policy.html">سياسة الخصوصية</a></li>
          <li><a href="../contact/contact.html">تواصل معنا</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>السياسات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="tel:+966123456789"><i class="fas fa-phone"></i> +966 12 345 6789</a></li>
          <li><a href="mailto:info@beautytime.com"><i class="fas fa-envelope"></i> info@beautytime.com</a></li>
          <li><a href="https://maps.google.com/"><i class="fas fa-map-marker-alt"></i> الرياض, المملكة العربية
              السعودية</a></li>
        </ul>
      </div>

    </div>
    <div class="bottom">
      <p>جميع الحقوق محفوظة لYamama solutions</p>
      <div class="imgs-row">
        <img src="../../assets/visa.png" alt="">
        <img src="../../assets/master-card.png" alt="">
        <img src="../../assets/apple-pay.png" alt="">
        <img src="../../assets/stc-pay.png" alt="">
        <img src="../../assets/samsung-pay.png" alt="">
      </div>

    </div>
  </div>
</footer>