<header class="y-u-flex y-u-justify-center y-u-items-center y-u-fixed header y-u-top-left">
  <div class="container y-u-flex y-u-justify-between y-u-items-center y-u-w-full y-u-max-w-1200 top">
    <div class="logo y-u-flex y-u-justify-end y-u-items-center">
      <a href="../layout/index.html" class="y-u-text-3xl y-u-font-bold y-u-color-primary">
        <img src="../../assets/navbar-icon.png" alt="navbar-icon">
      </a>
      <div class="search-input">
        <img src="../../assets/search.svg" alt="" />
        <input type="text" placeholder="ابحث عن كتاب" />
      </div>
    </div>

    <div class="user-nav y-u-flex y-u-justify-end y-u-items-center">
      <a href="../login/login.html">
        <img src="../../assets/profile.svg" alt="" />
        تسجيل الدخول
      </a>

    </div>
  </div>

  <div class="mobile-menu-overlay">
    <ul class="mobile-menu y-u-flex y-u-justify-start y-u-flex-col y-u-gap-16">
      <li><a href="../layout/index.html"> <i class="fas fa-home"></i> الرئيسية</a></li>
      <li><a href="../services/services.html"> <i class="fas fa-list"></i> الاقسام</a>
      </li>
      <li><a href="../products/onsale.html"><i class="fas fa-tags"></i> باقات توفيرية</a></li>
      <li><a href="../about-us/about-us.html"><i class="fas fa-info-circle"></i> من نحن </a></li>


    </ul>

  </div>


  <div class="container y-u-flex y-u-justify-between y-u-items-center y-u-w-full y-u-max-w-1200 bottom">
    <ul class="desktop-menu y-u-flex y-u-justify-end y-u-items-center">
      <li><a href="../layout/index.html"> <i class="fas fa-home"></i> الرئيسية</a></li>
      <li><a href="../services/services.html"> <i class="fas fa-list"></i> الاقسام</a>
      </li>
      <li><a href="../products/onsale.html"><i class="fas fa-tags"></i> باقات توفيرية</a></li>
      <li><a href="../about-us/about-us.html"><i class="fas fa-info-circle"></i> من نحن </a></li>


    </ul>
    <button class="mobile-menu-btn y-u-flex-col y-u-justify-between" aria-label="Toggle mobile menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="user-nav y-u-flex y-u-justify-end y-u-items-center mobile">
      <a href="../login/login.html">
        <img src="../../assets/profile.svg" alt="" />
        تسجيل الدخول
      </a>
    </div>
  </div>

</header>