<!-- Single Product Card Component - For displaying detailed product information -->
<div class="product-card">
  <div class="product-img">
    <img src="../../assets/product-page.png" alt="Product Image">
  </div>
  <div class="product-content">
    <p>تنظيف بشرة سطحي</p>
    <p class="product-title">عناية بالبشرة الدهنية خصيصًا، وإزالة جميع الدهون الموجودة،</p>
    <p class="product-title">تنظيف البثور والحبوب، وأيضًا تقليل المسام الواسعة بدرجة كبيرة.</p>
    <div class="price">
      <p>السعر</p>
      <p>200 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
    </div>
    <a href="#" class="btn rounded full"><i class="fas fa-calendar-alt"></i>احجز الان</a>
  </div>
</div>

