<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>من نحن</title>
    <link rel="Icon" type="image/png" href="/assets/Frame 5.png">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-buttons.css">
    <link rel="stylesheet" href="../../components/y-cards.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="y-contact-us.css">

</head>

<body>
    <div class="y-c-sale-banner">
        <p>خصم %20 على رسوم التوصيل</p>
    </div>

    <div id="header-placeholder" class="y-c-sticky-header"></div>

    <section class="y-c-hero-About-us">
        <div class="y-c-hero-container">
            <div class="y-c-hero-content-About-us">
                <div class="y-c-hero-text-About-us">
                    <h1 data-y='page-title'>تواصل معنا</h1>
                </div>
            </div>
    </section>
    <div class="y-c-contat-us">
        <h1 data-y='contact-us-title'>اتصل بنا وتواصل معنا!</h1>
        <p data-y='contact-us-text'>يسعدنا تواصلك معنا في أي وقت. إذا كان لديك استفسار، اقتراح، أو ترغب في معرفة المزيد
            عن خدماتنا، فلا تتردد في
            التواصل معنا عبر النموذج أو وسائل التواصل الاجتماعي.نحن هنا لخدمتك والإجابة على جميع تساؤلاتك بأسرع وقت
            ممكن.</p>
    </div>
    <div class="y-c-contat-us-whastapp" data-y='whatsapp-section'>
        <h1>تواصل معنا مباشرة عبر الواتساب</h1>
        <a href=" https://wa.me/+966534411732">
            <i class="fa-brands fa-whatsapp"></i>

        </a>
    </div>
    <div class="y-c-map-container" data-y='map-section'>
        <div class="y-c-map-card">
            <p>محمد الكندى </p>
            <p>المدينه42313, المملكة العربية السعودية</p>
            <br>
            <a href="#">عرض خريطة أكبر</a>
        </div>
    </div>

    <section class="y-c-contact-info-card-container">
        <div class="y-c-contact-info-card">
            <div class="y-c-contact-info-card-header">
                <div>
                    <span>العنوان
                        تفضل بزيارتنا في</span>
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
            <p>المدينة المنورة - حي بني الأشهل - محمد بن الأشعث الكندي - ثلاجة الأحمدي</p>

        </div>
        <a href="tel:+966534411732" class="y-c-contact-link">

            <div class="y-c-contact-info-card">
                <div class="y-c-contact-info-card-header">
                    <span>تواصل معنا
                        اتصل على</span>
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div>
                    <p>موبيل : 966534411732+</p>
                </div>
        </a>
        </div>
        <div class="y-c-contact-info-card">
            <div class="y-c-contact-info-card-header">
                <span>راسلنا
                    راسلنا على:</span>
                <i class="fa-regular fa-envelope"></i>
            </div>
            <a href="mailto:sales@aahmadi.sa" class="y-c-contact-link">
                <p>sales@aahmadi.sa</p>
            </a>
            <a href="mailto:info@aahmadi.sa" class="y-c-contact-link">
                <p>info@aahmadi.sa</p>

            </a>
        </div>
        <div class="y-c-contact-info-card">
            <div class="y-c-contact-info-card-header">
                <span>أوقات الدوام
                    المتجر متاح </span>
                <span class="fa-regular fa-clock info-icon">
                </span>
            </div>
            <ul>
                <li>السبت - الخميس: 9 ص الى 5 م</li>
                <li>الجمعة (مقفل)</li>
            </ul>
        </div>
    </section>

    <div id="footer-placeholder"></div>

    <script src="../../js/shared-components.js"></script>
</body>

</html>