<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="Icon" type="image/png" href="/assets/Frame 5.png">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-buttons.css">
    <link rel="stylesheet" href="../../components/y-forms.css">
    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="y-login.css">
</head>

<body>
    <div class="y-c-sale-banner">
        <p>خصم %20 على رسوم التوصيل</p>
    </div>
    <div id="header-placeholder" class="y-c-sticky-header"></div>

    <section class="y-c-container">

        <form class="y-c-login-form-container" data-y='login-form'
            onsubmit="window.location.href='../home/layout.html'; return false;">
            <h1 class="y-c-header-title">تسجيل الدخول</h1>
            <br>
            <div class="y-c-form-field">
                <label class="y-c-form-label">البريد الإلكتروني<span class="y-c-required-mark">*</span></label>
                <input type="email" class="y-c-form-input" required
                    pattern="[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}"
                    oninput="this.value = this.value.replace(/[^A-Za-z0-9.@_+\-]/g, '')" data-y='email-input'>
            </div>
            <div class="y-c-form-field">
                <label class="y-c-form-label">ادخل كلمة مرور<span class="y-c-required-mark">*</span></label>
                <input type="password" class="y-c-form-input" required data-y='password-input'>
            </div>

            <div class="y-c-form-options">
                <div class="y-c-remember-me">
                    <input type="checkbox" id="remember" class="y-c-remember-checkbox" data-y='remember-me-checkbox'>
                    <label for="remember">تذكرني </label>
                </div>
                <div class="y-c-forgot-password">
                    <a href="../forget-password/layout.html" data-y='forgot-password-link'>هل نسيت كلمة السر ؟</a>
                    <br>
                    <a href="../signup/layout.html" data-y='signup-link'>ليس لديك حساب ؟</a>
                </div>
            </div>
            <div class="y-c-login-btn-container">
                <button type="submit" class="y-c-login-btn" data-y='login-btn'>تسجيل الدخول</button>

            </div>

        </form>
    </section>
    <div id="footer-placeholder"></div>

    <script src="../../js/shared-components.js"></script>
</body>

</html>