<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسوّق</title>
    <link rel="Icon" type="image/png" href="/assets/Frame 5.png">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-buttons.css">
    <link rel="stylesheet" href="../../components/y-cards.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="y-shop-archive.css">

</head>

<body>
    <div class="y-c-sale-banner">
        <p>خصم %20 على رسوم التوصيل</p>
    </div>

    <div id="header-placeholder" class="y-c-sticky-header"></div>

    <section class="y-c-container">
        <h1 class="y-c-header-title">تسوق</h1>
        <div class="y-c-shopping-header">
            <div class="y-c-shopping-header-menu">
                عرض
                <span data-y='results-start'>1</span>
                -
                <span data-y='results-end'>16</span>
                من اصل
                <span data-y='results-total'>168</span>
                نتيجة
            </div>
            <div class="y-c-shopping-dropdown">
                <button class="y-c-shopping-header-menu y-c-shopping-dropdown-btn">
                    الأكثر شيوعا
                    <i class="fa-solid fa-angle-down"></i>
                </button>
                <ul class="y-c-shopping-dropdown-content">
                    <li><a href="#">الأكثر مبيعا</a></li>
                    <li><a href="#">الأعلى تقييما</a></li>
                    <li><a href="#">السعر من الأقل الى الأعلى</a></li>
                    <li><a href="#">السعر من الأعلى الى الأقل</a></li>
                </ul>
            </div>
        </div>

        <ul class="y-c-products-grid" data-y='product-grid'>
        </ul>
        <div class="y-c-pagination-container">
            <div class="y-c-pagination" data-y='pagination'>
            </div>
        </div>
    </section>

    <div id="footer-placeholder"></div>

    <script src="../../js/shared-components.js"></script>
    <script src="../../js/products.js"></script>
    <script src="../../js/shop-archive.js"></script>
</body>

</html>