<section class="container y-u-w-full categories-section">
  <div class="categories-slider">
    <a href="../category/category.html" class="y-u-flex y-u-flex-col y-u-justify-center y-u-items-center">
      <img src="../../assets/cat1.png" alt="Category 1" />
      <p>المكياج</p>
    </a>
    <a href="../category/category.html" class="y-u-flex y-u-flex-col y-u-justify-center y-u-items-center">
      <img src="../../assets/cat1.png" alt="Category 1" />
      <p>المكياج</p>
    </a>
    <a href="../category/category.html" class="y-u-flex y-u-flex-col y-u-justify-center y-u-items-center">
      <img src="../../assets/cat2.png" alt="Category 1" />
      <p>وصل حديثا</p>
    </a>
    <a href="../category/category.html" class="y-u-flex y-u-flex-col y-u-justify-center y-u-items-center">
      <img src="../../assets/cat3.png" alt="Category 1" />
      <p>العطور</p>
    </a>
    <a href="#" class="y-u-flex y-u-flex-col y-u-justify-center y-u-items-center">
      <img src="../../assets/cat4.png" alt="Category 1" />
      <p>الاكثر مبيعا</p>
    </a>
    <a href="../category/category.html" class="y-u-flex y-u-flex-col y-u-justify-center y-u-items-center">
      <img src="../../assets/cat5.png" alt="Category 1" />
      <p>منتجات العناية</p>
    </a>
  </div>
  <div class="indecators">
    <button class="indecator">
      <img src="../../assets/arrow-right.svg" alt="" />
    </button>
    <button class="indecator">
      <img src="../../assets/arrow-left.svg" alt="" />
    </button>
  </div>
</section>


