<li class="product-card">
  <a href="../product-details/product-details.html" class="product-link">
    <div class="product-img">
      <img src="../../assets/cat1.png" alt="Product 1" />
      <div class="discount">خصم 20%</div>
    </div>
    <div class="product-content">
      <p class="product-description">بنطلون رجالي كاجوال بجيوب سوستة وشريط فضي</p>
      <p class="product-price">
        <span>200.50 ر.س</span><span>200.50 ر.س</span>
      </p>
    </div>
  </a>
  <div class="product-actions">
    <button class="y-c-btn y-c-btn--primary product-add-to-cart">أضف إلى السلة <img
        src="../../assets/cart-details.svg" alt=""></button>
    <label class="product-add-to-wishlist">
      <input type="checkbox" class="wishlist-checkbox">
      <i class="far fa-heart"></i>
    </label>
  </div>
</li>


