<div class="box">
    <div class="top">
      <img src="../../assets/pro-clinic.jpg" alt="صورة العيادة">
      <div class="content">
        <a href="../clinic-page/clinic-page.html">
          <h3>عيادة برو كلينيك </h3>
        </a>
        <p class="address"><img src="../../assets/address.svg" alt="العنوان"> حي العليا، شارع الملك فهد، الرياض</p>
      </div>
    </div>
    <p>اليوم | 08 نوفمبر 2025 (04:00 مساءً - 07:00 مساءً)</p>
    <div class="actions">
      <button><img src="../../assets/edit.svg" alt="تعديل"> تعديل</button>
      <button class="delete"><img src="../../assets/delete.svg" alt="إلغاء">إلغاء</button>
    </div>
  </div>