<div id="calendar-popover-doctor-1" class="calendar-popover">
    <div class="calendar-header">
        <button class="prev-month">&lt;</button>
        <h3 class="month-year">نوفمبر 2025</h3>
        <button class="next-month">&gt;</button>
    </div>
    <div class="calendar-body">
        <div class="day-names">
            <span>الأحد</span>
            <span>الاثنين</span>
            <span>الثلاثاء</span>
            <span>الأربعاء</span>
            <span>الخميس</span>
            <span>الجمعة</span>
            <span>السبت</span>
        </div>
        <div class="days-grid">
            <!-- Dynamic By Calender.js -->
        </div>
    </div>
    <div class="calendar-footer">
        <a href="../booking/booking-doctor.html" class="btn main-button fw" id="reservation-link-doctor-1">احجز في
            15/11/2025 (04:00 مساءً - 07:00 مساءً)</a>
    </div>
</div>