.calendar-popover {
  display: none;
  flex-direction: column;
  gap: var(--y-space-16);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: min(90%, 450px);
  background-color: #fff;
  border-radius: var(--y-radius-l);
  box-shadow: var(--y-color-shadow);
  padding: var(--y-space-16);
  z-index: 117;
}
.calendar-popover.show {
  display: flex;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header h3 {
  font-size: var(--y-space-20);
  font-weight: 700;
  color: var(--y-color-txt);
}

.calendar-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: var(--y-space-8);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--y-color-primary);
  font-size: 18px;
}
.calendar-popover a.btn {
  font-size: 14px;
}
.calendar-header button:hover {
  background-color: var(--y-color-primary-light);
}
.calendar-body {
  display: flex;
  flex-direction: column;
  gap: var(--y-space-8);
}
.calendar-body .day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  color: var(--y-color-grey);
}

.calendar-body .days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--y-space-4);
}

.days-grid .day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1/1;
  transition: all 0.3s ease;
}

.days-grid .day:not(.empty):hover {
  background-color: var(--y-color-primary);
  color: white;
}

.days-grid .day.selected {
  background-color: var(--y-color-primary);
  color: white;
}

.days-grid .day.disabled {
  color: var(--y-color-grey-light);
  cursor: not-allowed;
  background-color: #f2f2f2;
}

.days-grid .day.empty {
  cursor: default;
}
.main-box {
  position: relative;
}
