<div class="box doctor-info">

    <div class="top">
        <img src="../../assets/doctor-img.jpg" alt="صورة الطبيب">
        <div class="desc">
            <p>دكتور يوسف منصور</p>
            <p>استاذ جامعي تخصص عظام</p>
        </div>
    </div>

    <div class="bottom">
        <div class="rating">
            <strong>5</strong>
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="views">
            <p>5000</p>
            <img src="../../assets/eye.svg" alt="عدد المشاهدات">
        </div>
        <div class="price">
            <p>300</p>
            <img src="../../assets/ryal.svg" alt="سعر الكشف بالريال">
        </div>
    </div>
    <a href="../booking/booking-doctor.html" class="btn main-button fw">احجز اليوم (04:00 مساءً - 07:00
        مساءً) </a>
        <button class="btn succend-button fw" id="open-calendar-btn-doctor-1">اختر ميعاد اخر</button>
        <div id="calendar-popover-doctor-1" class="calendar-popover">
            <div class="calendar-header">
                <button class="prev-month">&lt;</button>
                <h3 class="month-year">نوفمبر 2025</h3>
                <button class="next-month">&gt;</button>
            </div>
            <div class="calendar-body">
                <div class="days-grid">
                </div>
            </div>
            <div class="calendar-footer">
                <a href="../booking/booking-doctor.html" class="btn main-button fw" id="reservation-link-doctor-1">احجز في 15/11/2025 (04:00 مساءً - 07:00 مساءً)</a>
            </div>
        </div>
</div>