<header class="y-u-flex y-u-justify-center y-u-items-center y-u-fixed header y-u-top-left">
  <div class="container y-u-flex y-u-justify-between y-u-items-center y-u-w-full y-u-max-w-1200">
    <div class="logo y-u-flex y-u-justify-end y-u-items-center">
      <a href="../layout/index.html" class="y-u-text-3xl y-u-font-bold y-u-color-primary">
        <img src="../../assets/navbar-icon.png" alt="navbar-icon">
      </a>
      <ul class="desktop-menu y-u-flex y-u-justify-end y-u-items-center">
        <li><a href="../layout/index.html">الرئيسيه</a></li>
        <li><a href="../clinics/clinics.html">العيادة</a></li>
        <li><a href="../doctors/doctors.html">الأطباء</a></li>
        <li><a href="../about-us/about-us.html">من نحن</a></li>
      </ul>
    </div>
    <button class="mobile-menu-btn y-u-flex-col y-u-justify-between" aria-label="Toggle mobile menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="user-nav y-u-flex y-u-justify-end y-u-items-center">
      <a href="../login/login.html">
        حسابي
      </a>
    </div>
  </div>

  <div class="mobile-menu-overlay">
    <nav class="mobile-menu">
      <ul class="y-u-flex y-u-flex-col y-u-gap-16">
        <li><a href="../layout/index.html">الرئيسية</a></li>
        <li><a href="../clinics/clinics.html">العيادة</a></li>
        <li><a href="../doctors/doctors.html">الأطباء</a></li>
        <li><a href="../about-us/about-us.html">من نحن</a></li>
        <li><a href="../login/login.html">حسابي</a></li>
      </ul>
    </nav>
  </div>
</header>