<div class="lists">
    <div class="bottom">
        <div class="list">
            <input type="checkbox" name="list1" id="list1">
            <label for="list1">عظام <img src="../../assets/bottom-arrow.svg" alt="سهم القائمة"></label>
            <div class="items">
                <button>أسنان</button>
                <button>نفسي</button>
                <button>باطنة</button>
                <button>نساء و توليد</button>
                <button>عيون</button>
                <button>مخ وأعصاب</button>
                <button>عظام</button>
                <button>جلدية</button>
                <button>صدر و جهاز تنفسي</button>
                <button>أنف و أذن و حنجرة</button>

            </div>

        </div>
        <div class="list">
            <input type="checkbox" name="list2" id="list2">
            <label for="list2">المدينة <img src="../../assets/bottom-arrow.svg" alt="سهم القائمة"></label>
            <div class="items">
                <button>الرياض</button>
                <button>مكة المكرمة</button>
                <button>المدينة المنورة</button>
                <button>جدة</button>
                <button>الدمام</button>
                <button>الخبر</button>
                <button>الجبيل</button>
                <button>الأحساء</button>
                <button>الخرج</button>
                <button>القطيف</button>
                <button>تبوك</button>
                <button>الباحة</button>
                <button>الجوف</button>
                <button>الطائف</button>
            </div>

        </div>
        <div class="list">
            <input type="text" name="doctor" id="doctor" placeholder="اسم الطبيب">
        </div>
        <button class="btn main-button fw invert fh">ابحث <img src="../../assets/search.svg" alt="أيقونة البحث"></button>

    </div>

</div>