.btn {
  font-size: var(--font-m);
  font-weight: var(--y-text-bold);
  padding: var(--y-space-10) var(--y-space-64);
  border-radius: var(--y-space-16);
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  width: fit-content;
  appearance: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--y-space-8);
}

.main-button {
  background: var(--y-color-primary);
  color: var(--y-color-bg);
  border: 1px solid var(--y-color-primary);
}

.main-button:hover {
  background-color: color-mix(in srgb, var(--y-color-primary) 70%, white);
}

.succend-button {
  background: var(--y-color-bg);
  color: var(--y-color-txt);
  border: 1px solid var(--y-color-primary);
}

.succend-button:hover {
  filter: brightness(0.8);
}

@media (max-width: 768px) {
  .btn {
    font-size: var(--y-space-16) !important;
  }
}
