<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> My Clinic</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/breadcrumbs.css" />
  <link rel="stylesheet" href="about-us.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="breadcrumbs-container">
      <div class="breadcrumbs  container y-u-max-w-1200">
        <a href="../layout/index.html">الرئيسية</a>
        /
        <p>من نحن</p>
      </div>
    </section>
    <section class="about-us-section">
      <div class="container y-u-max-w-1200">
        <div class="right">
          <h2>من نحن</h2>
          <p>
            موقعنا هو منصّة متكاملة لحجز المواعيد الطبية بسهولة وسرعة. بنساعدك تلاقي أفضل الأطباء والعيادات في مختلف
            التخصصات، وتقارن بينهم حسب التقييمات والأسعار والموقع الجغرافي. هدفنا إننا نسهّل تجربة الرعاية الصحية
            ونخلّيها مريحة ومضمونة من أول خطوة للحجز لحد ما توصل للدكتور.
            <br>
            من خلال موقعنا، تقدر تحجز موعد، تستشير طبيب أونلاين، تعرف أقرب العيادات ليك، وتشوف تقييمات وتجارب المرضى
            الحقيقيين كل ده بخطوات بسيطة ومن مكانك.

          </p>
        </div>

        <img src="../../assets/about-us.png" alt="فريق My Clinic الطبي">
      </div>
    </section>
  </main>



  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>