<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Beauty Time</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../layout/layout.css" />
  <link rel="stylesheet" href="about-us.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>
    <section class="panner">
      <p><a href="../layout/index.html">الرئيسية</a> / من نحن</p>
    </section>

    <section class="about-us-section">
      <div class=" container y-u-max-w-1200">
        <div class="right">
          <h2>من نحن</h2>
          <p>اكتشفي جمالك الحقيقي معنا في صالون بيوتي</p>
          <p>نحن في صالون ” بيوتي ” نؤمن بأن الجمال هو عنصر أساسي في الثقة بالنفس والسعادة. صالوننا هو مكان للتجميل
            والاسترخاء حيث نقدم لكن تجربة مميزة وفريدة في عالم الجمال والأناقة.
            بفضل فريقنا المختص والمحترف، نسعى لتحقيق أحلامكن وتلبية توقعاتكن الجمالية. نحن نقدم مجموعة واسعة من الخدمات،
            بما في ذلك تصفيف الشعر، العناية بالبشرة، العناية بالأظافر، والمكياج، وخدمات التجميل المتقدمة.</p>
        </div>
        <img src="../../assets/about-us-1.png" alt="">
      </div>
    </section>
    <section class="panner-hero">
      <div class="container y-u-max-w-1200">
        <div class="cards">
          <div class="card">
            <i class="fas fa-star"></i>
            <p>+75</p>
            <p class="last">خدمات مميزة</p>
          </div>
          <div class="card">
            <i class="fas fa-spa"></i>

            <p>+100</p>
            <p class="last">منتجات اصلية
            </p>
          </div>
          <div class="card">
            <i class="fas fa-leaf"></i>
            <p>+500</p>
            <p class="last">منتجات طبيعية</p>
          </div>
          <div class="card">
            <i class="fas fa-award"></i>
            <p>+20</p>
            <p class="last">سنوات خبرة</p>
          </div>
        </div>
      </div>

    </section>

    <section class="about-us-section">
      <div class=" container y-u-max-w-1200">
        <img src="../../assets/about-us-2.png" alt="">
        <div class="right">
          <h2>لماذا تختارنا ؟؟</h2>
          <p>أكثر من 15 سنة خبرة في مجال تجميل و العناية بالشعر و الأظافر</p>
          <p>نحن نعطي الأولوية لنظافة وراحة عميلاتنا، ونضمن لكِ بيئة صحية ومريحة طوال زيارتك، يلتزم صالوننا بتعقيم
            أدواتنا وبجميع بروتوكولات التعقيم الصارمة، وأدوات الاستخدام الواحد</p>
          <div class="bottom">
            <div class="item">
              <i class="fas fa-hand-sparkles"></i>
              <div class="content">
                <p> أحدث تقنيات العناية بالأظافر</p>
                <p>من خدمات تجميل الأظافر والباديكير الكلاسيكية إلى فن الأظافر المعقد ووصلات الأظافر المخصصة</p>
              </div>
            </div>

            <div class="item">
              <i class="fas fa-scissors"></i>
              <div class="content">
                <p>منتجات عالية الجودة</p>
                <p>نحرص في صالون بيوتي على استخدام منتجات عالية الجودة ومواد ذات مستوى عالي من الفعالية والأمان لضمان
                  الحصول على نتائج مذهلة وصحية للعملاء.</p>
              </div>
            </div>
            <div class="item">
              <i class="fas fa-user-check"></i>
              <div class="content">
                <p>خبرة ومهارة</p>
                <p>نحرص في صالون بيوتي على استخدام منتجات عالية الجودة ومواد ذات مستوى عالي من الفعالية والأمان لضمان
                  الحصول على نتائج مذهلة وصحية للعملاء.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


  </main>



  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>