*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: var(--y-line-normal);
  background: var(--y-color-bg);
  color: var(--y-color-txt);
  font-family: var(--y-font-sans);
  font-size: var(--y-text-md);
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(a,
  button,
  input,
  select,
  textarea,
  [tabindex]:not([tabindex="-1"])):focus-visible {
  outline: 2px solid var(--y-color-primary);
  outline-offset: 2px;
}

main,
section {
  margin: 0 auto;
  overflow-x: hidden;
}

section {
  margin-bottom: var(--y-space-96);
}

section:first-child {
  margin-top: var(--y-space-32);
  padding-top: 0;
}

@media (max-width: 768px) {
  section:first-child {
    margin-top: var(--y-space-50);
  }

  section {
    margin-bottom: var(--y-space-32);
  }
}

section h2 {
  padding-bottom: var(--y-space-0);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--y-space-16);
}

.special-bg {
  position: relative;
  z-index: 1;
}

.special-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('../assets/spec-bg.png') no-repeat center center / cover;
  opacity: 0.3;
  z-index: 1;
}

.special-bg>* {
  position: relative;
  z-index: 2;
}

.white-card {
  padding: var(--y-space-16);
  background: var(--y-color-bg);
  border-radius: var(--y-radius-m);
  box-shadow: var(--y-color-shadow);
  overflow: hidden;
}