<header>

    <div class="y-l-header-container">

        <div class="y-l-header-top">
            <div class="y-l-right-side">
                <div class="y-c-header-logo">
                    <a href="/templates/home/layout.html">
                        <img src="/assets/logo.png" alt="Your Car Logo">
                    </a>
                </div>

                <nav class="y-l-header-nav">
                    <a href="/templates/store/layout.html" class="y-c-nav-link">
                        <div><i class="fa-solid fa-car"></i></div>
                        <span>اسطولنا</span>
                    </a>
                    <a href="/templates/offers/layout.html" class="y-c-nav-link">
                        <div><i class="fa-solid fa-percent"></i></div>
                        <span>العروض</span>
                    </a>
                    <a href="/templates/faq/layout.html" class="y-c-nav-link">
                        <div><i class="fa-solid fa-circle-question"></i></div>
                        <span>الاسئلة الشائعة</span>
                    </a>
                </nav>
            </div>

            <div class="y-l-header-actions">

                <div class="y-c-header-search-expandable">
                    <input type="text" name="text" class="y-c-header-search-expandable__input" required=""
                        placeholder="اكتب للبحث...">
                    <div class="y-c-header-search-expandable__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                            <title>Search</title>
                            <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none"
                                stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                                stroke-width="32" d="M338.29 338.29L448 448"></path>
                        </svg>
                    </div>
                </div>

                <a href="#" class="y-c-header-action" aria-label="Account" data-auth-trigger="login">
                    <i class="fa-regular fa-user"></i>
                </a>

                <button class="y-c-mobile-menu-button" id="mobile-menu-button" data-y="mobile-menu-button"
                    aria-label="Toggle Mobile Menu" aria-expanded="false" aria-controls="header-mobile">
                    <i class="fas fa-bars" id="mobile-menu-icon"></i>
                </button>

            </div>

        </div>

        <div class="y-l-header-mobile" id="header-mobile" data-y="header-mobile" role="menu" aria-hidden="true">
            <div class="y-l-header-mobile-content">
                <div class="y-l-header-mobile-links" data-y="header-mobile-links" role="menubar">
                    <a href="/templates/home/layout.html" data-y="header-mobile-link-home" role="menuitem">
                        <i class="fa-solid fa-house"></i>
                        الرئيسية
                    </a>
                    <a href="/templates/store/layout.html" data-y="header-mobile-link-products" role="menuitem">
                        <i class="fa-solid fa-car"></i>
                        اسطولنا
                    </a>
                    <a href="/templates/offers/layout.html" data-y="header-mobile-link-offers" role="menuitem">
                        <i class="fa-solid fa-percent"></i>
                        العروض
                    </a>
                    <a href="/templates/faq/layout.html" data-y="header-mobile-link-faq" role="menuitem">
                        <i class="fa-solid fa-circle-question"></i>
                        الاسئلة الشائعة
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>