<li class="product-card">
  <a href="../../templates/single product/layout.html"></a>
    <div class="product-card-img">
      <label class="favorite-toggle">
        <input type="checkbox" class="favorite-toggle__checkbox">
        <span class="favorite-toggle__icon">
          <i class="fa-regular fa-heart" aria-hidden="true"></i>
          <i class="fa-solid fa-heart" aria-hidden="true"></i>
        </span>
      </label>
      <img src="../../assets/product.png" alt="" />
    </div>
  </a>
  <div class="product-card-info">
    <h3 class="product-card-title">
      تاتش قلاية كهربائية هيلثي بلس 8 لتر قوة 2400 وات
    </h3>
  </div>
  <div class="buy">
    <div class="product-price">
      <span class="old-card-price">1000 <img src="../../assets/riyal1.png" alt="" /></span>
      <span class="new-card-price">800 <img src="../../assets/riyal.png" alt="" /></span>
    </div>
    <a href="../../templates/cart/layout.html" class="add-to-cart"> <img src="../../assets/addcart.png" alt="">
    </a>
  </div>
</li>