<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beauty Time </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="./sub-products.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="panner">
      <p><a href="../layout/index.html"></a>الرئيسية</a> / العروض</p>
    </section>
    <section class="products-section onsale-section">
      <div class=" container y-u-max-w-1200">
        <div class="products-grid">

          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/book.png" alt="">
              <div class="infos" role="region" aria-label="تفاصيل العرض">
                <h3 class="offer-title">عرض بيوتي تايم</h3>
                <ul class="info" role="list">
                  <li>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <span>جلسة لمعان وترطيب</span>
                  </li>
                  <li>
                    <i class="fas fa-cut" aria-hidden="true"></i>
                    <span>قص احترافي</span>
                  </li>
                  <li>
                    <i class="fas fa-wind" aria-hidden="true"></i>
                    <span>استشوار مع ويفي</span>
                  </li>
                  <li>
                    <i class="fas fa-clock" aria-hidden="true"></i>
                    <span>المدة ساعة ونصف</span>
                  </li>
                </ul>
              </div>
              <div class="logo">
                <img src="../../assets/navbar-icon.png" alt="logo">
              </div>
            </a>
            <div class="price">
              <p>250 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
              <p class="old-price">200 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
            </div>
            <p class="product-title"> عرض التألق والأنوثة باشراق بيوتي</p>
            <a href="../payment/payment-data.html" class="btn full"><img src="../../assets/book-now.svg"
                alt="book-now">احجز الآن</a>
          </div>
          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/book.png" alt="">
              <div class="infos" role="region" aria-label="تفاصيل العرض">
                <h3 class="offer-title">عرض بيوتي تايم</h3>
                <ul class="info" role="list">
                  <li>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <span>جلسة لمعان وترطيب</span>
                  </li>
                  <li>
                    <i class="fas fa-cut" aria-hidden="true"></i>
                    <span>قص احترافي</span>
                  </li>
                  <li>
                    <i class="fas fa-wind" aria-hidden="true"></i>
                    <span>استشوار مع ويفي</span>
                  </li>
                  <li>
                    <i class="fas fa-clock" aria-hidden="true"></i>
                    <span>المدة ساعة ونصف</span>
                  </li>
                </ul>
              </div>
              <div class="logo">
                <img src="../../assets/navbar-icon.png" alt="logo">
              </div>
            </a>
            <div class="price">
              <p>250 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
              <p class="old-price">200 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
            </div>
            <p class="product-title"> عرض التألق والأنوثة باشراق بيوتي</p>
            <a href="../payment/payment-data.html" class="btn full"><img src="../../assets/book-now.svg"
                alt="book-now">احجز الآن</a>
          </div>
          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/book.png" alt="">
              <div class="infos" role="region" aria-label="تفاصيل العرض">
                <h3 class="offer-title">عرض بيوتي تايم</h3>
                <ul class="info" role="list">
                  <li>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <span>جلسة لمعان وترطيب</span>
                  </li>
                  <li>
                    <i class="fas fa-cut" aria-hidden="true"></i>
                    <span>قص احترافي</span>
                  </li>
                  <li>
                    <i class="fas fa-wind" aria-hidden="true"></i>
                    <span>استشوار مع ويفي</span>
                  </li>
                  <li>
                    <i class="fas fa-clock" aria-hidden="true"></i>
                    <span>المدة ساعة ونصف</span>
                  </li>
                </ul>
              </div>
              <div class="logo">
                <img src="../../assets/navbar-icon.png" alt="logo">
              </div>
            </a>
            <div class="price">
              <p>250 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
              <p class="old-price">200 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
            </div>
            <p class="product-title"> عرض التألق والأنوثة باشراق بيوتي</p>
            <a href="../payment/payment-data.html" class="btn full"><img src="../../assets/book-now.svg"
                alt="book-now">احجز الآن</a>
          </div>
          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/book.png" alt="">
              <div class="infos" role="region" aria-label="تفاصيل العرض">
                <h3 class="offer-title">عرض بيوتي تايم</h3>
                <ul class="info" role="list">
                  <li>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <span>جلسة لمعان وترطيب</span>
                  </li>
                  <li>
                    <i class="fas fa-cut" aria-hidden="true"></i>
                    <span>قص احترافي</span>
                  </li>
                  <li>
                    <i class="fas fa-wind" aria-hidden="true"></i>
                    <span>استشوار مع ويفي</span>
                  </li>
                  <li>
                    <i class="fas fa-clock" aria-hidden="true"></i>
                    <span>المدة ساعة ونصف</span>
                  </li>
                </ul>
              </div>
              <div class="logo">
                <img src="../../assets/navbar-icon.png" alt="logo">
              </div>
            </a>
            <div class="price">
              <p>250 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
              <p class="old-price">200 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
            </div>
            <p class="product-title"> عرض التألق والأنوثة باشراق بيوتي</p>
            <a href="../payment/payment-data.html" class="btn full"><img src="../../assets/book-now.svg"
                alt="book-now">احجز الآن</a>
          </div>
          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/book.png" alt="">
              <div class="infos" role="region" aria-label="تفاصيل العرض">
                <h3 class="offer-title">عرض بيوتي تايم</h3>
                <ul class="info" role="list">
                  <li>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <span>جلسة لمعان وترطيب</span>
                  </li>
                  <li>
                    <i class="fas fa-cut" aria-hidden="true"></i>
                    <span>قص احترافي</span>
                  </li>
                  <li>
                    <i class="fas fa-wind" aria-hidden="true"></i>
                    <span>استشوار مع ويفي</span>
                  </li>
                  <li>
                    <i class="fas fa-clock" aria-hidden="true"></i>
                    <span>المدة ساعة ونصف</span>
                  </li>
                </ul>
              </div>
              <div class="logo">
                <img src="../../assets/navbar-icon.png" alt="logo">
              </div>
            </a>
            <div class="price">
              <p>250 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
              <p class="old-price">200 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
            </div>
            <p class="product-title"> عرض التألق والأنوثة باشراق بيوتي</p>
            <a href="../payment/payment-data.html" class="btn full"><img src="../../assets/book-now.svg"
                alt="book-now">احجز الآن</a>
          </div>
          <div class="product-card">
            <a href="../products/sub-products.html" class="product-img">
              <img src="../../assets/book.png" alt="">
              <div class="infos" role="region" aria-label="تفاصيل العرض">
                <h3 class="offer-title">عرض بيوتي تايم</h3>
                <ul class="info" role="list">
                  <li>
                    <i class="fas fa-star" aria-hidden="true"></i>
                    <span>جلسة لمعان وترطيب</span>
                  </li>
                  <li>
                    <i class="fas fa-cut" aria-hidden="true"></i>
                    <span>قص احترافي</span>
                  </li>
                  <li>
                    <i class="fas fa-wind" aria-hidden="true"></i>
                    <span>استشوار مع ويفي</span>
                  </li>
                  <li>
                    <i class="fas fa-clock" aria-hidden="true"></i>
                    <span>المدة ساعة ونصف</span>
                  </li>
                </ul>
              </div>
              <div class="logo">
                <img src="../../assets/navbar-icon.png" alt="logo">
              </div>
            </a>
            <div class="price">
              <p>250 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
              <p class="old-price">200 <img src="../../assets/ryal-prim.svg" alt="sar"></p>
            </div>
            <p class="product-title"> عرض التألق والأنوثة باشراق بيوتي</p>
            <a href="../payment/payment-data.html" class="btn full"><img src="../../assets/book-now.svg"
                alt="book-now">احجز الآن</a>
          </div>
        </div>
      </div>
    </section>

  </main>

  <y-footer></y-footer>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>