<div class="cart-table">
  <table>
    <thead>
      <tr>
        <th>المنتج</th>
        <th>السعر</th>
        <th>الكمية</th>
        <th>المجموع</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="product-info">
          <div class="product-img">
            <img src="../../assets/sm.png" alt="product" />
          </div>
          <div class="product-details">
            <h5 class="product-title">اسم المنتج</h5>
          </div>
        </td>

        <td class="product-price">43.00 ر.س</td>

        <td>
          <div class="qnt">
            <button>-</button>
            <span>1</span>
            <button>+</button>
          </div>
        </td>

        <td class="product-total">43.00 ر.س</td>

        <td class="product-remove-cell">
          <i class="product-remove">x</i>
        </td>
      </tr>
      <tr>
        <td class="product-info">
          <div class="product-img">
            <img src="../../assets/sm.png" alt="product" />
          </div>
          <div class="product-details">
            <h5 class="product-title">اسم المنتج</h5>
          </div>
        </td>

        <td class="product-price">43.00 ر.س</td>

        <td>
          <div class="qnt">
            <button>-</button>
            <span>1</span>
            <button>+</button>
          </div>
        </td>

        <td class="product-total">43.00 ر.س</td>

        <td class="product-remove-cell">
          <i class="product-remove">x</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>