<div class="account-details-container">
  <div class="form-section">
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">الاسم الأول</label>
        <input type="text" id="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">اسم العائلة</label>
        <input type="text" id="lastName" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="birthDate">تاريخ الميلاد</label>
        <input type="date" id="birthDate" />
      </div>
      <div class="form-group">
        <label for="gender">النوع</label>
        <input type="text" id="gender" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="email">البريد الإلكتروني</label>
        <input type="email" id="email" />
      </div>
      <div class="form-group">
        <label for="mobile">رقم الجوال</label>
        <input type="tel" id="mobile" />
      </div>
    </div>
  </div>

  <div class="settings-section">
    <div class="setting-item">
      <div class="toggle-section">
        <div class="toggle-container">
          <div class="toggle-header">
            <div class="icon-notification"> <i class="fa-regular fa-bell-slash"></i></div>
            <span class="toggle-title">توقف الإشعارات</span>
          </div>
          <p class="toggle-description">
            هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية
            تم تعديلها بشكل
          </p>
        </div>
        <div class="toggle-switch">
          <input type="checkbox" id="notifications" class="toggle-input" />
          <label for="notifications" class="toggle-label"></label>
        </div>
      </div>
    </div>

    <div class="setting-item">
      <div class="action-section">
        <div class="delete-section">
          <div class="delete-header">
            <div class="icon-profile"><i class="fa-regular fa-user-circle"></i></div>
            <span class="delete-title">حذف حسابي</span>
          </div>
          <p class="delete-description">
            هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية
            تم تعديلها بشكل
          </p>
        </div>
        <button class="disable-account-btn" id="btn-deactivate-account">تعطيل الحساب</button>
      </div>
    </div>
  </div>
</div>