<div class="y-u-container y-u-py-7 y-u-px-4">
  <div class="sidebar">
    <div class="sidebar-item" data-title="تفاصيل الحساب">
      <i class="fa-regular fa-user"></i>
      <span><a href="#" class="y-t-text-decoration-none y-u-me-2 y-t-text-dark"> الحساب</a></span>
    </div>
    <div class="sidebar-item" data-title="الطلبات">
      <i class="fa-regular fa-file-lines"></i>
      <span><a href="#" class="y-t-text-decoration-none y-u-me-2 y-t-text-dark">الطلبات</a></span>
    </div>
    <div class="sidebar-item" data-title="الإشعارات">
      <i class="fa-solid fa-bell"></i>
      <span><a href="#" class="y-t-text-decoration-none y-u-me-2 y-t-text-dark">الإشعارات</a></span>
    </div>
    <div class="sidebar-item" data-title="عنوان الفاتورة">
      <i class="fa-solid fa-location-dot"></i>
      <span><a href="#" class="y-t-text-decoration-none y-u-me-2 y-t-text-dark">عنوان الفاتورة</a></span>
    </div>
    <div class="sidebar-item" data-title="تسجيل الخروج">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span><a href="../../templates/login/layout.html" class="y-t-text-decoration-none y-u-me-2 y-t-text-dark">تسجيل
          الخروج</a></span>
    </div>
  </div>
  <h4 class="y-u-mt-8" id="sidebar-title">حسابي الشخصي</h4>
</div>