<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Elegance</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/toggle.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/empty-state.css" />
  <link rel="stylesheet" href="cart.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>

  <y-navbar></y-navbar>

  <main>
    <section class="panner ">
      <h1 class="y-u-text-center">عربة التسوق</h1>
    </section>
    <section class="container y-u-max-w-1200">
      <div class="empty-state">
        <div class="empty-icon">
          <i class="fas fa-shopping-basket"></i>
        </div>
        <h2>عربة التسوق فارغة</h2>
        <a href="../layout/index.html" class="btn main-button">العودة للرئيسية</a>
      </div>
    </section>
  </main>


  <y-footer></y-footer>

  <script src="../../js/components-loader.js"></script>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>