.cart-section {
  display: grid;
  grid-template-columns: 1fr 256px;
  gap: var(--y-space-168);
}
.cart-section .right {
  display: flex;
  flex-direction: column;
  gap: var(--y-space-20);
}
.cart-section .right > h2,
.cart-section .left > h2 {
  font-size: var(--y-space-20);
  font-weight: bold;
  color: var(--y-color-text);
  padding-bottom: var(--y-space-20);
  border-bottom: 3px solid var(--y-color-border);
}
.cart-section .right .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--y-space-20);
}
.cart-section .right .item {
  display: flex;
  flex-direction: row;
  gap: var(--y-space-50);
  align-items: flex-start;
  padding-bottom: var(--y-space-20);
  border-bottom: 3px solid var(--y-color-border);
}
.cart-section .right .item > img {
  width: 180px;
  height: 207px;
  border-radius: 20px;
  object-fit: cover;
}

.cart-section .right .item .content {
  display: flex;
  flex-direction: column;
  gap: var(--y-space-10);
}
.cart-section .right .item .content h2 {
  font-size: var(--y-space-20);
  font-weight: bold;
}
.cart-section .right .item .content .price {
  display: flex;
  flex-direction: row;
  gap: var(--y-space-10);
}
.cart-section .right .item .content > p {
  color: var(--y-color-secondary);
}
.cart-section .right .item .content .price p:first-child {
  color: var(--y-color-text);
}
.cart-section .right .item .content .price p:last-child {
  text-decoration: line-through;
  color: var(--y-color-danger);
}
.cart-section .right .item .quantity {
  border: 3px solid var(--y-color-border);
  color: var(--y-color-secondary);
  border-radius: var(--y-space-8);
  padding-inline: var(--y-space-14);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--y-space-6);
}
.cart-section .right .item > button img {
  width: var(--y-space-38);
}
.cart-section .right .item .quantity button {
  width: 30px;
  height: 30px;
  border: none;
}
.cart-section .right .item .quantity input {
  width: 86px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  text-align: center;
  padding-block: 0 !important;
  padding-inline: 0 !important;
  margin-right: var(--y-space-16);
}
.cart-section .left {
  display: flex;
  flex-direction: column;
  gap: var(--y-space-20);
}
.cart-section .left h2 {
  font-size: var(--y-space-20);
  font-weight: bold;
}
.cart-section .left .total {
  display: flex;
  flex-direction: column;
  gap: var(--y-space-10);
}
.cart-section .left .total p {
  font-size: var(--y-space-16);
  color: var(--y-color-text);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-section .left .total p span {
  font-size: var(--y-space-16);
  color: var(--y-color-primary);
  font-weight: 300;
}
.cart-section .left a {
  padding: var(--y-space-12) var(--y-space-24);
  border-radius: var(--y-space-8);
  background-color: var(--y-color-primary);
  color: var(--y-color-bg);
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  width: fit-content;
  text-align: center;
}

@media (max-width: 768px) {
  .cart-section {
    grid-template-columns: 1fr;
    gap: var(--y-space-32);
  }
  .cart-section .right .item {
    flex-wrap: wrap;
  }
  .cart-section .right .item .quantity {
    align-items: center;
  }
  .cart-section .left a {
    width: 100%;
  }
}
