
<section class="cairo-font features-section">
    <div class="container my-5">
      <div class="row align-items-center justify-content-center mx-auto">
        <div class="col-6 col-md-3 text-center mb-4 mb-md-0">
          <img src="../../assets/feat1.png" alt="أيقونة خدمة العملاء - خدمة عملاء احترافية" class="mb-2 feature-icon">
          <p class="fs-6 fs-md-5 fw-bold">خدمة العملاء</p>
          <p class="fs-6 fs-md-5">على أعلى مستوى من الإحترافية</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4 mb-md-0">
          <img src="../../assets/feat2.png" alt="أيقونة منتجات عالية الجودة - جودة ممتازة منذ 80 عاماً" class="mb-2 feature-icon">
          <p class="fs-6 fs-md-5 fw-bold">منتجات عالية الجودة</p>
          <p class="fs-6 fs-md-5">تمتع بمذاقنا المتميز لأكثر من 80 عاماً</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4 mb-md-0">
          <img src="../../assets/feat3.png" alt="أيقونة استلام من الفرع - استلم طلبك من الفرع الأقرب" class="mb-2 feature-icon">
          <p class="fs-6 fs-md-5 fw-bold">استلام من الفرع</p>
          <p class="fs-6 fs-md-5">استلم طلبك من الفرع الأقرب إليك</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4 mb-md-0">
          <img src="../../assets/feat4.png" alt="أيقونة توصيل سريع - توصيل على مدار 24 ساعة" class="mb-2 feature-icon">
          <p class="fs-6 fs-md-5 fw-bold">توصيل سريع</p>
          <p class="fs-6 fs-md-5">توصيل على مدار 24 ساعة</p>
        </div>
      </div>
    </div>
  </section>
