<header class="y-u-bg cairo-font hero-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 text-center text-lg-start mb-4 mb-lg-0">
          <img src="../../assets/header.png" alt="صورة رئيسية لسويت هاوس - متجر الحلويات والمخبوزات الطازجة" class="img-fluid header-image">
        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <h1 class="gulzar-regular y-u-pinkClr header-txt cairo-font">سويت هاوس</h1>
          <h2 class="mb-3 cairo-font">من فرننا لقلبك</h2>
          <h2 class="mb-4 cairo-font">سويت هاوس.. طعم ولا احلى</h2>
          <a href="#" class="btn btn-lg px-4 px-lg-5 py-2 rounded-pill fw-bold text-white y-u-blue fs-4 fs-lg-2 text-decoration-none cairo-font">
            تسوق الان
          </a>
        </div>
      </div>
    </div>
  </header>