
<ul class="products y-u-my-10">
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>

  <li class="product-card">
    <label class="product-card-fav">
      <input type="checkbox" class="product-card-fav-input" />
      <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
    </label>
    <div class="offer-badge"><span>60%</span></div>
    <a href="../../templates/single product/layout.html">
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
    </a>
    <div class="product-card-info">
      <h3 class="product-card-title">غرفة نوم</h3>
      <div class="product-card-pricing">
        <span class="product-card-price-old y-u-d-flex"
          >3252 <img src="../../assets/riyal1.png" alt="" class="y-u-me-3"
        /></span>
        <span class="product-card-price-new y-u-d-flex"
          >2500 <img src="../../assets/riyal.png" alt="" class="y-u-me-3"
        /></span>
      </div>
    </div>
    <a href="../../templates/cart/layout.html" class="btn-primary"
      >أضف إلى السلة</a
    >
  </li>
 
</ul>
