<footer class="footer">
  <div class="container y-u-max-w-1200">
    <div class="logo">
      <a href="../layout/index.html">
        <img src="../../assets/footer-icon.png" alt="footer-icon">
      </a>
    </div>
    <div class="bottom">
      <div class="main y-u-flex y-u-flex-col ">
        <P>
          نحن نؤمن أن الإلهام يبدأ من التفاصيل الصغيرة. لذلك نقدّم لك أدوات مكتبية تجمع بين الأناقة، الجودة، والعملية لتجعل كل يوم عمل أو دراسة تجربة أكثر تنظيمًا ومتعة. نختار منتجاتنا بعناية لتلهمك بالإبداع وتساعدك على التركيز وتحقيق أهدافك، لأننا نؤمن أن المكتب المرتّب هو بداية الأفكار الكبيرة.
        </P>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>الصفحات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../layout/index.html">الرئيسيه</a></li>
          <li><a href="../404/404.html">خدماتنا</a></li>
          <li><a href="../404/404.html">سابقة اعمالنا</a></li>
          <li><a href="../about-us/about-us.html">من نحن</a></li>
          <li><a href="../contact/contact.html">تواصل معنا</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>السياسات</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="../404/404.html">السياسات</a></li>
          <li><a href="../404/404.html">سياسة الخصوصية</a></li>
          <li><a href="../404/404.html">سياسة الاسترجاع</a></li>
          <li><a href="../404/404.html">سياسة الشحن</a></li>
        </ul>
      </div>
      <div class="links y-u-flex y-u-flex-col ">
        <h2>تواصل معنا</h2>
        <ul class="y-u-flex y-u-justify-between y-u-flex-col ">
          <li><a href="#"><img src="../../assets/map.svg" alt=""> الرياض , المملكة العربية
              السعودية</a></li>
          <li><a href="#"><img src="../../assets/email.svg" alt=""> Stationary@gmail.com </a></li>
          <li><a href="#"> <img src="../../assets/phone.svg" alt="">+966 12 345 6789</a></li>
        </ul>
      </div>
    </div>
    <p>جميع الحقوق محفوظة &copy; Yamamah Solutions</p>
  </div>
</footer>