<section class="payment-methods">
    <div class="container y-u-max-w-1200">
      <div class="payment-method">
        <p>قسِّمها على 5 دفعات بقيمة 10 ر.س بدون فوائد.
          
          <br>
          متوافق مع أحكام الشريعة الإسلامية.
           
        <a href="">لمعرفة المزيد</a>
        </p>
        <img src="../../assets/taby-pay.png" alt="">
      </div>
      <div class="payment-method">
        <p>أو قسّم فاتورتك بقيمة 10 ر.س على 5 دفعات بدون رسوم تأخير.
          <br>
          
          متوافقة مع الشريعة الإسلامية . 


          <a href="">لمعرفة المزيد</a>
        </p>
           
        

        <img src="../../assets/tmara-pay.png" alt="">
      </div>
    </div>
  </section>