<li class="card">
  <a href="../product-details/product-details.html">
    <div class="img">
      <img src="../../assets/product-1.png" alt="">
    </div>
    <div class="content">
      <div class="top y-u-flex y-u-justify-between y-u-flex-col  y-u-gap-8">
        <p>نوت بوك مسطر غلاف ورق 100 ورقة</p>
      </div>
      <div class="bottom">
        <p>
          <span>
            50 <img src="../../assets/ryal.svg" alt="">
          </span>
        </p>
        <button class="button"> أضف إلى السلة </button>
      </div>
    </div>
  </a>
</li>