.quantity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 110px;
  border: 2px solid var(--y-color-border);
  border-radius: var(--y-space-40);
  color: var(--y-color-text);
}
.quantity button {
  color: var(--y-color-text);
  border: none;
  cursor: pointer;
  font-size: var(--y-space-22);
  font-weight: 700;
  padding-right: var(--y-space-4);
}
.quantity button i {
  font-size: var(--y-space-22);
}
.quantity input {
  width: 100%;
  text-align: center;
  border: none;
  font-size: var(--y-space-24);
  font-weight: 700;
  background-color: transparent;
  color: var(--y-color-text);
  border-radius: var(--y-space-4);
}
.quantity input:focus-visible {
  outline: none;
}
