<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>القوالب | Yamama</title>
  <link rel="manifest" href="../manifest.json" />

  <link rel="icon" href="../../assets/icon.png" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />

  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="./style.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main class="special-bg">

    <section class="themes-section y-u-py-80">
      <div class="container y-u-max-w-1200">
        <div class="section-header y-u-text-center y-u-m-b-48">
          <h1 class="y-u-text-xxl y-u-font-bold y-u-m-b-16">ثيمات اليمامة</h1>
          <p class="y-u-text-m y-u-font-medium y-u-text-muted">اختر تصميم متجرك الأنيق من بين أكثر من 50 قالب احترافي
          </p>
        </div>

        <div class="tabs y-u-flex y-u-gap-16 y-u-flex-wrap y-u-justify-center y-u-m-b-48">
          <button class="tab-btn active">الكل</button>
          <button class="tab-btn">الملابس</button>
          <button class="tab-btn">مجوهرات</button>
          <button class="tab-btn">أثاث</button>
          <button class="tab-btn">كتب</button>
          <button class="tab-btn">مطاعم</button>
        </div>

        <div class="themes-grid y-u-grid y-u-grid-3 y-u-gap-32">
          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 1" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>

          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 2" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>

          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 3" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>

          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 4" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>

          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 5" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>

          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 6" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>
          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 6" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>
          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 6" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>
          <div class="theme-card y-u-rounded-m y-u-overflow-hidden y-u-border">
            <div class="theme-image">
              <img src="../../assets/theme-img.png" alt="معاينة قالب متجر إلكتروني 6" />
            </div>
            <div class="theme-content y-u-p-24 y-u-flex y-u-flex-col y-u-gap-16">
              <div
                class="theme-badge y-u-flex y-u-items-center y-u-gap-8 light-primary-bg y-u-rounded-s y-u-px-16 y-u-py-4 y-u-w-fit">
                <i class="fa-solid fa-star primary-color"></i>
                <span class="y-u-text-s y-u-font-bold primary-color">أزياء</span>
              </div>
              <div class="theme-main-info y-u-flex y-u-justify-between y-u-items-center">
                <h3 class="y-u-text-l y-u-font-bold">خطى</h3>
                <div class="price y-u-flex y-u-items-center y-u-gap-8">
                  <span class="y-u-text-l y-u-font-bold">990</span>
                  <img src="../../assets/ryal-prim.svg" alt="Ryal" style="width: 16px;">
                </div>
              </div>
              <div class="theme-include y-u-flex y-u-items-center y-u-gap-8 y-u-text-muted">
                <i class="fa-solid fa-tag"></i>
                <span class="y-u-text-s y-u-font-bold">السعر شامل سعر الثيم وباقة اليمامة</span>
              </div>
              <div class="theme-actions y-u-grid y-u-grid-2 y-u-gap-12">
                <a href="../single-temp/index.html" class="btn black-outline-button y-u-w-full">عرض</a>
                <a href="../payment/index.html" class="btn main-button">شراء القالب</a>
              </div>
            </div>
          </div>
        </div>

        <button class="btn main-button y-u-w-fit y-u-mx-auto y-u-m-t-24">عرض المزيد</button>
      </div>
    </section>


    <section class="featured-template y-u-py-80">
      <div class="container y-u-max-w-1200 y-u-flex y-u-items-center y-u-justify-between y-u-gap-48">

        <div class="featured-content y-u-flex y-u-flex-col y-u-gap-16">
          <div class="featured-badge y-u-w-fit y-u-px-16 y-u-py-4 y-u-rounded-l light-primary-bg">
            <p class="y-u-text-s y-u-font-bold primary-color">
              <i class="fa-solid fa-wand-magic-sparkles"></i>
              القالب المميز

            </p>
          </div>
          <h2 class="y-u-text-xl y-u-font-bold">هل لديك "تصميم" خاص بك</h2>
          <div class="featured-actions y-u-flex y-u-gap-16 y-u-m-t-16">
            <a href="../contact/index.html" class="btn main-button y-u-flex y-u-items-center y-u-gap-8">
              احصل عليه الآن <i class="fa-solid fa-arrow-left"></i>
            </a>
          </div>
        </div>
        <div class="featured-image">
          <img src="../../assets/temp-rotate.png" alt="Featured Template">
        </div>
      </div>
    </section>

    <section class="cta-section y-u-py-80">
      <div class="container y-u-max-w-1200">
        <div
          class="cta-card y-u-p-48 y-u-rounded-m y-u-text-center y-u-flex y-u-flex-col y-u-items-center y-u-gap-24 y-u-py-24">
          <h2 class="y-u-text-xxl y-u-font-bold">هل أنت مستعد لبيع منتجاتك؟</h2>
          <p class="y-u-text-m y-u-font-medium y-u-text-muted">انضم إلى آلاف التجار الناجحين وأطلق متجرك الإلكتروني
            اليوم</p>
          <button class="btn main-button y-u-px-48 y-u-py-16">ابدأ متجرك المجاني</button>
        </div>
      </div>
    </section>
  </main>


  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>