<h2 class="section-title"><img src="../../assets/style.png" alt="" /></h2>
<div class="section section2">
  <ul class="products">
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
      <div class="offer-badge"><span>60%</span></div>
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم</h3>
        <div class="product-card-pricing">
          <span class="product-card-price-old y-u-d-flex"
            >3252 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>

          <span class="product-card-price-new y-u-d-flex"
            >2500 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>
        </div>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
      <div class="offer-badge"><span>60%</span></div>
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم</h3>
        <div class="product-card-pricing">
          <span class="product-card-price-old y-u-d-flex"
            >3252 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>

          <span class="product-card-price-new y-u-d-flex"
            >2500 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>
        </div>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
      <div class="offer-badge"><span>60%</span></div>
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم</h3>
        <div class="product-card-pricing">
          <span class="product-card-price-old y-u-d-flex"
            >3252 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>

          <span class="product-card-price-new y-u-d-flex"
            >2500 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>
        </div>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
      <div class="offer-badge"><span>60%</span></div>
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم</h3>
        <div class="product-card-pricing">
          <span class="product-card-price-old y-u-d-flex"
            >3252 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>

          <span class="product-card-price-new y-u-d-flex"
            >2500 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>
        </div>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
      <div class="offer-badge"><span>60%</span></div>
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم</h3>
        <div class="product-card-pricing">
          <span class="product-card-price-old y-u-d-flex"
            >3252 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>

          <span class="product-card-price-new y-u-d-flex"
            >2500 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>
        </div>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
      <div class="offer-badge"><span>60%</span></div>
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم</h3>
        <div class="product-card-pricing">
          <span class="product-card-price-old y-u-d-flex"
            >3252 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>

          <span class="product-card-price-new y-u-d-flex"
            >2500 <img src="../../assets/ryal.svg" alt="ر.س" class="y-u-me-3"
          /></span>
        </div>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
  </ul>
  <div class="img-container">
    <h1>أقوى العروض</h1>
    <img src="../../assets/section2.png" alt="" />
  </div>
</div>
