<h2 class="section-title"> <img src="../../assets/style.png" alt=""></h2>
<div class="categories">
    <h1>تسوق أقسامنا</h1>
    <div class="category">
        <img src="../../assets/circle1.png" alt="" />
        <h3 class="category-title">غرف نوم</h3>
    </div>
    <div class="category">
        <img src="../../assets/circle2.png" alt="" />
        <h3 class="category-title">صالون</h3>
    </div>
    <div class="category">
        <img src="../../assets/circle3.png" alt="" />
        <h3 class="category-title">غرف أطفال</h3>
    </div>
    <div class="category">
        <img src="../../assets/circle4.png" alt="" />
        <h3 class="category-title">انتريه</h3>
    </div>
    <div class="category">
        <img src="../../assets/circle5.png" alt="" />
        <h3 class="category-title">سفرة</h3>
    </div>
</div>
