<h2 class="section-title"><img src="../../assets/style.png" alt="" /></h2>
<div class="section section1">
  <ul class="products">
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
  
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
  
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
        <span class="product-card-price">
          2500
          <img src="../../assets/ryal.svg" alt="ر.س" />
        </span>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
  
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
  
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
        <span class="product-card-price">
          2500
          <img src="../../assets/ryal.svg" alt="ر.س" />
        </span>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
  
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
  
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
        <span class="product-card-price">
          2500
          <img src="../../assets/ryal.svg" alt="ر.س" />
        </span>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
  
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
  
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
        <span class="product-card-price">
          2500
          <img src="../../assets/ryal.svg" alt="ر.س" />
        </span>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
  
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
  
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
        <span class="product-card-price">
          2500
          <img src="../../assets/ryal.svg" alt="ر.س" />
        </span>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
    <li class="product-card">
      <label class="product-card-fav">
        <input type="checkbox" class="product-card-fav-input" />
        <i class="fa fa-heart product-card-fav-icon" aria-hidden="true"></i>
      </label>
  
      <div class="product-card-img">
        <img src="../../assets/product.png" alt="" />
      </div>
  
      <div class="product-card-info">
        <h3 class="product-card-title">غرفة نوم كلاسيكية</h3>
        <span class="product-card-price">
          2500
          <img src="../../assets/ryal.svg" alt="ر.س" />
        </span>
      </div>
      <a href="#products" class="btn-primary">أضف إلى السلة</a>
    </li>
  </ul>
  <div class="img-container">
    <h1>أحدث منتجاتنا</h1>

    <img src="../../assets/section1.png" alt="" />
  </div>
</div>
<div class="banner">
  <img src="../../assets/banner.png" alt="banner" />
</div>
