<h2 class="section-title"> <img src="../../assets/style.png" alt=""></h2>
<div class="reviews-container">
  <button class="scroll-arrow left" onclick="scrollReviews('left')">
    <i class="fas fa-chevron-left"></i>
  </button>

  <div class="reviews">
    <div class="review-card">
      <div class="user">
        <img src="../../assets/review.jpg" alt="User 1" />
        <div>
          <h3 class="user-name">عبدالله احمد</h3>
          <p class="rate">
            <span>⭐⭐⭐⭐⭐</span>
          </p>
        </div>
      </div>
      <div class="content">
        <p>جميل جدًا وعندهم سرعة في التوصيل، وكمان راضٍ عن التغليف.</p>
      </div>
    </div>

    <div class="review-card">
      <div class="user">
        <img src="../../assets/review.jpg" alt="User 2" />
        <div>
          <h3 class="user-name">محمد علي</h3>
          <p class="rate">
            <span>⭐⭐⭐⭐⭐</span>
          </p>
        </div>
      </div>
      <div class="content">
        <p>خدمة ممتازة وجودة عالية في المنتجات، أنصح الجميع بالتعامل معهم.</p>
      </div>
    </div>

    <div class="review-card">
      <div class="user">
        <img src="../../assets/review.jpg" alt="User 3" />
        <div>
          <h3 class="user-name">فاطمة سعد</h3>
          <p class="rate">
            <span>⭐⭐⭐⭐⭐</span>
          </p>
        </div>
      </div>
      <div class="content">
        <p>منتجات رائعة وخدمة عملاء ممتازة، تجربة تسوق مميزة.</p>
      </div>
    </div>

    <div class="review-card">
      <div class="user">
        <img src="../../assets/review.jpg" alt="User 4" />
        <div>
          <h3 class="user-name">أحمد محمود</h3>
          <p class="rate">
            <span>⭐⭐⭐⭐⭐</span>
          </p>
        </div>
      </div>
      <div class="content">
        <p>أثاث عالي الجودة وأسعار مناسبة، أنصح بالتعامل معهم بقوة.</p>
      </div>
    </div>
  </div>

  <button class="scroll-arrow right" onclick="scrollReviews('right')">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
