<div class="single-product">
  <div class="thumbnails">
    <img src="../../assets/sm.png" alt="" />
    <img src="../../assets/sm.png" alt="" />
    <img src="../../assets/sm.png" alt="" />
    <img src="../../assets/sm.png" alt="" />
  </div>
  <div class="main-image-container">
    <img src="../../assets/product.png" alt="Product Image" />
  </div>
  <div class="details">
    <div>
      <h4>الألوان المتاحة</h4>
      <div class="colors">
        <div class="color" style="background-color: #000000"></div>
        <div class="color" style="background-color: #ffffff"></div>
        <div class="color" style="background-color: #5d4a37"></div>
        <div class="color" style="background-color: #144814"></div>
        <div class="color" style="background-color: #070747"></div>
      </div>
    </div>

    <h2 class="product-code">#786A5</h2>
    <h2 class="product-price">32.00 ر.س</h2>

    <div>
      <h4>المقاسات</h4>
      <div class="sizes">
        <button class="btn-size">36</button>
        <button class="btn-size">38</button>
        <button class="btn-size">40</button>
        <button class="btn-size">41</button>
      </div>
    </div>

    <div class="actions">
      <button class="btn-primary">اشتري الآن</button>
      <button class="btn-primary">إضافة الي السلة</button>
      <div class="qnt">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
    </div>
  </div>
</div>