<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-y="page-title">سياسة الشحن</title>
    <link rel="Icon" type="image/png" href="../../assets/logo.png" data-y="favicon">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="../../assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="./y-deliver.css">
    <link rel="manifest" href="./manifest.json">
</head>

<body>
    <div id="header-placeholder" class="y-c-sticky-header" data-y="header-placeholder"></div>

    <main>

        <div class="y-u-container y-c-breadcrumbs" data-y="breadcrumbs">
            <p>
                سياسة الشحن
            </p>
        </div>

        <div class="y-l-privacy-content" data-y="deliver-content">
            <br>
            <h1>سياسية الخصوصية والاستخدام</h1>
            <br>
            <h3>سياسية الخصوصية</h3>
            <p>توضح هذه السياسة كيفية قيام متجر الأحمدي بجمع معلوماتك الشخصية ومعالجتها واستخدامها والإفصاح عنها
                باعتبارها
                وحدة تحكم في البيانات، عندما تتصل بنا أو تستخدم خدماتنا أو تتفاعل مع منصاتنا بما في ذلك مواقع الويب
                وتطبيقات
                الأجهزة المحمولة (يُشار إليها معًا باسم “المنصات”).
            </p>
            <br>
            <p>تنطبق سياسة الخصوصية هذه سواء قمت بالوصول إلى خدمات متجر الأحمدي (على النحو المحدد في شروط الخدمة) من
                خلال
                تطبيق جوال أو الموقع الإلكتروني أو أي طريقة أخرى.</p>
            <br>
            <h3>المعلومات الشخصية التي نجمعها</h3>
            <h3>عندما تقوم بالتسجيل في خدماتنا، قد نجمع:</h3>
            <br>
            <p>تفاصيلك الشخصية، بما في ذلك عناوين منزلك وعنوان (عناوين) البريد الإلكتروني ورقم (أرقام) الهاتف وتاريخ
                الميلاد.</p>
            <p>تفاصيل تسجيل الدخول إلى حسابك، مثل اسم المستخدم وكلمة المرور (المشفرة) التي اخترتها.</p>
            <p>اهتماماتك و تفضيلاتك ومعلومات التنميط الأخرى.</p>
            <p>معلومات حول مشترياتك عبر الإنترنت (على سبيل المثال: ماذا ومتى وأين طلبت / اشتريت وكيف دفعت).</p>
            <p>معلومات حول سلوك تصفحك عبر الإنترنت على مواقعنا الإلكترونية وتطبيقات الجوال والشبكات العامة ومعلومات حول
                وقت النقر فوق أحد إعلاناتنا (بما في ذلك تلك المعروضة على مواقع الويب الخاصة بالمؤسسات الأخرى).</p>
            <p>معلومات حول الأجهزة التي استخدمتها للوصول إلى خدماتنا (بما في ذلك الطراز ونظام التشغيل وعنوان IP ونوع
                المتصفح ومعرفات الجهاز المحمول) ومعلومات حول موقعك الجغرافي الدقيق.</p>
            <p>عندما تستخدم أيًا من برامج الولاء الخاصة بنا للتسوق معنا، فقد نجمع معلومات المعاملات، بما في ذلك عمليات
                الشراء داخل المتجر وعبر الإنترنت التي تربح نقاطًا لها وكيفية استخدامك للنقاط والقسائم.</p>
            <br>
            <h3>مصادر أخرى للمعلومات الشخصية</h3>
            <br>
            <p>قد نستخدم أيضًا المعلومات الشخصية من مصادر أخرى، مثل الشركات المتخصصة التي توفر المعلومات وقنوات الإعلام
                عبر الإنترنت وشركائنا والسجلات العامة. قد نجمع الأنواع التالية من المعلومات الشخصية عنك من مصادر أخرى:
                تفاصيل الاتصال أو المشتريات أو الاهتمامات أو التفضيلات أو أنواع أخرى من المعلومات المتاحة للجمهور. </p>
            <p>تساعدنا هذه المعلومات الشخصية الأخرى على:</p>
            <p>مراجعة وتحسين دقة البيانات التي نحتفظ بها.</p>
            <p>تحسين وقياس فعالية اتصالاتنا التسويقية، بما في ذلك الإعلان عبر الإنترنت.</p>
            <p>قد يُطلب منا بموجب القانون جمع معلومات شخصية عنك أو نتيجة لأي علاقة تعاقدية بيننا وبينك.</p>
            <p>إذا اخترت عدم تقديم معلوماتك الشخصية لاستخدامها وفقًا لهذه السياسة، فستظل قادرًا على زيارة منصاتنا ولكن
                قد لا تتمكن من الوصول إلى خيارات أو منتجات أو خدمات معينة، وفي بعض الحالات قد لا نكون قادرين على تلبية
                الخدمة التي تطلبها.</p>
            <br>
            <h3>لماذا وكيف نستخدم معلوماتك الشخصية</h3>
            <br>
            <p>نستخدم معلوماتك الشخصية لتقديم الخدمات التي طلبتها، بما في ذلك:</p>
            <p>معالجة طلباتك والمبالغ المستردة.</p>
            <p>إدارة الحسابات التي تمتلكها معنا.</p>
            <p>هذا حتى نتمكن من تقديم الخدمات لك بما يتماشى مع التزاماتنا التعاقدية تجاهك.</p>
            <p>إضفاء الطابع الشخصي على تجربتك</p>
            <p>قد نستخدم معلوماتك الشخصية لإضفاء الطابع الشخصي على الرسائل التسويقية التي نرسلها إليك وجعلها أكثر صلة
                وإثارة لاهتمام، لأن هذا يخدم مصالحنا التجارية المشروعة. عند الضرورة سنحصل على موافقتك أولاً. قد نستخدم
                معلوماتك الشخصية لهذا الغرض بالطرق التالية:</p>
            <p>استخدام سلوك التصفح عبر الإنترنت بالإضافة إلى عمليات الشراء داخل المتجر وعبر الإنترنت لمساعدتنا على فهمك
                بشكل أفضل كعميل وتزويدك بالعروض والخدمات الشخصية</p>
            <p>تزويدك بالاتصالات التسويقية ذات الصلة (بما في ذلك عن طريق البريد الإلكتروني أو البريد أو الهاتف أو
                الرسائل القصيرة أو الإعلان عبر الإنترنت)، فيما يتعلق بالمنتجات والخدمات التي نقدمها وتلك الخاصة بموردينا
                وشركائنا. كجزء من ذلك، قد يتم عرض الإعلانات عبر الإنترنت على مواقعنا الإلكترونية وعلى مواقع الويب الخاصة
                بالمؤسسات الأخرى والقنوات الإعلامية عبر الإنترنت. قد نقيس أيضًا فعالية اتصالاتنا التسويقية وتلك الخاصة
                بموردينا وشركائنا.</p>
            <p>لمساعدتنا على فهمك بشكل أفضل وتزويدك بالخدمات والاتصالات التسويقية ذات الصلة باهتماماتك، نقوم بدمج
                المعلومات الشخصية التي نجمعها عند إجراء عمليات شراء في المتجر مع المعلومات الشخصية التي تم جمعها من
                مواقعنا الإلكترونية وتطبيقات الأجهزة المحمولة وغير ذلك بما في ذلك الشركات التابعة المختلفة تحت متجر
                الأحمدي.</p>
            <br>
            <h3>تواصل وتفاعل معك</h3>
            <br>
            <p>قد نستخدم معلوماتك الشخصية عندما نتواصل معك من أجل:</p>
            <p>الاتصال بك بخصوص خدماتنا، على سبيل المثال عن طريق الهاتف أو البريد الإلكتروني أو البريد أو عن طريق الرد
                على منشورات وسائل التواصل الاجتماعي التي وجهتها إلينا.</p>
            <p>إدارة العروض الترويجية والمسابقات التي تشارك فيها، بما في ذلك تلك التي نجريها مع موردينا وشركائنا.</p>
            <p>دعوتك للمشاركة في وإدارة استبيانات العملاء والاستبيانات وأنشطة أبحاث السوق الأخرى التي تجريها متجر
                الأحمدي والمنظمات الأخرى نيابة عنا.</p>
            <p>من مصلحتنا التجارية المشروعة أن نتمكن من تزويدك بالردود المناسبة وتزويدك بإشعار حول خدماتنا.</p>
            <p>إدارة وتحسين عملياتنا اليومية</p>
            <p>نقوم بتحليل المعلومات حول كيفية استخدامك لخدماتنا من أجل:</p>
            <p>إدارة وتحسين مواقع الويب وتطبيقات الجوال الخاصة بنا.</p>
            <p>المساعدة في تطوير وتحسين مجموعة منتجاتنا وخدماتنا وأنظمة تكنولوجيا المعلومات والمعرفة والطريقة التي
                نتواصل بها معك.</p>
            <br>
            <h3>تبادل المعلومات الشخصية</h3>
            <br>
            <p>قد نشارك معلوماتك الشخصية مع أطراف ثالثة مثل مزودي الخدمة. نحن نعمل مع مزودي الخدمة المختارين بعناية
                والذين يقومون بوظائف معينة نيابة عنا. وتشمل هذه، على سبيل المثال، الشركات التي تساعدنا في خدمات
                التكنولوجيا وتخزين البيانات ودمجها ومعالجة المدفوعات وتسليم الطلبات. نحن نشارك فقط المعلومات الشخصية
                التي تمكن مزودي الخدمة لدينا من تقديم خدماتهم.</p>
            <p>يعمل بعض مزودي الخدمة الذين نعمل معهم على تشغيل قنوات وسائط عبر الإنترنت، ويقومون بوضع إعلانات عبر
                الإنترنت ذات صلة لمنتجاتنا وخدماتنا، وكذلك تلك الخاصة بموردينا وشركائنا في البيع بالتجزئة، على قنوات
                الوسائط عبر الإنترنت هذه نيابة عنا. على سبيل المثال، قد ترى إعلانًا عن منتجاتنا وخدماتنا عند استخدامك
                لموقع وسائط اجتماعية معين.</p>
            <br>
            <h3>نقل معلوماتك الشخصية</h3>
            <br>
            <p>قد يتم نقل معلوماتك الشخصية وتخزينها ومعالجتها في بلد يختلف عن بلد إقامتك أو بلد التأسيس لدينا. على أي
                حال، لقد وضعنا ضمانات مناسبة وفقًا للمتطلبات القانونية المعمول بها لضمان حماية بياناتك بشكل كافٍ.</p>
            <p>في حالة نقل معلوماتك الشخصية إلى ولاية قضائية أجنبية، فقد تخضع لقوانين تلك الولاية القضائية وقد نكون
                مطالبين بالكشف عنها للمحاكم أو سلطات إنفاذ القانون أو السلطات الحكومية في تلك الولايات القضائية ولكننا
                سنفعل ذلك فقط عندما يطلب بموجب القوانين المعمول بها.</p>
            <br>
            <h3>حماية المعلومات الشخصية</h3>
            <br>
            <p> بضمانات مادية وتقنية وتنظيمية لتأمين معلوماتك الشخصية من الوصول غير المصرح به والاستخدام والتعديل
                والتدمير. ومع ذلك، لا يمكن أن يكون أي موقع على الإنترنت آمنًا بنسبة 100٪ ولا يمكن أن نتحمل المسؤولية عن
                الوصول غير المصرح به أو غير المقصود الخارج عن سيطرتنا.</p>
            <br>
            <h3>وسائل الاعلام الاجتماعية</h3>
            <br>
            <p>نقوم بتشغيل قنوات وصفحات وحسابات على بعض مواقع التواصل الاجتماعي لإعلام العملاء ومساعدتهم والتفاعل معهم.
                نحن نراقب ونسجل التعليقات والمنشورات التي يتم إجراؤها على هذه القنوات عنا حتى نتمكن من تحسين خدماتنا.
            </p>
            <p>متجر الأحمدي ليس مسؤولا عن أي معلومات منشورة على تلك المواقع بخلاف المعلومات التي نشرناها بأنفسنا. نحن لا
                نصادق على مواقع التواصل الاجتماعي نفسها أو أي معلومات منشورة عليها من قبل أطراف ثالثة.</p>
            <br>
            <h3>احتفاظ</h3>
            <br>
            <p>نحتفظ بالسجلات طالما كان ذلك مطلوبًا من أجل:</p>
            <p>أ) إدارة المشتريات والحجوزات والعضويات وتوفير المنتجات أو الخدمات الأخرى ذات الصلة التي تتوقعها سياسة
                الخصوصية هذه، بما في ذلك إبقائك على اطلاع دائم بالتسويق الخاص بنا</p>
            <p>ب) إضفاء الطابع الشخصي على المنتجات والخدمات، والاتصالات معك</p>
            <p>ج) الامتثال للمتطلبات القانونية المعمول بها للاحتفاظ بالسجلات. عند تحديد مدة الاحتفاظ بمعلوماتك الشخصية
                بعد انتهاء علاقتنا معك، فإننا نأخذ في الاعتبار التزاماتنا القانونية وتوقعات المنظمين.</p>
            <br>
            <h3>الاتصالات التسويقية</h3>
            <br>
            <p>ستوفر لك جميع الاتصالات التسويقية التي نرسلها إليك طريقة لسحب موافقتك على التسويق في المستقبل. إذا لم تعد
                ترغب في تلقي مواد ترويجية، فيمكنك إلغاء الاشتراك من تلقي هذه الاتصالات أو تغيير إعدادات حسابك، سيؤدي ذلك
                إلى إزالتك من قوائم التسويق.</p>
            <p>يرجى ملاحظة أنه في حالة إلغاء اشتراكك في الاتصالات التسويقية، فسوف تستمر في تلقي رسائل تشغيلية وخدمية منا
                بخصوص الخدمات أو المنتجات التي اشتريتها منا والردود على الاستفسارات التي تم إرسالها إلينا، وأنه يجوز لنا
                الاحتفاظ بتفاصيلك في قائمة الإلغاء لذلك لا نفعل ذلك.</p>
        </div>
    </main>

    <div id="footer-placeholder" data-y="footer-placeholder"></div>

    <script src="../../js/shared-components.js" data-y="shared-components-script"></script>
</body>

</html>