<div class="policy-container">
  <div>
    <h1>سياسة الخصوصية</h1>
    <p>
      نعمل دائماً لنيل رضاكم ونكون عند حسن ظنكم بنا. إذا كنت ترغب في إرجاع منتج
      ما، فنحن نقبل بسرور استبدال المنتج أو منحك رصيداً في المتجر أو إرجاع
      المنتج مقابل نقاط متجر خطى.
    </p>
    <p>
      في حال طلب استرجاع أي منتج، يرجى التواصل معنا عبر البريد الإلكتروني:
      care@khutaa.sa أو الهاتف أو الواتساب: 966534411732+
    </p>
  </div>
  <div>
    <h1>الدفع عبر الإنترنت:</h1>
    <p>
      ستتم معالجة المبالغ المستردة في غضون ٢٤ ساعة وستضاف إلى حساب العميل في
      غضون 3-5 أيام عمل، اعتمادًا على مصدر البنك.
    </p>
  </div>
  <div>
    <h1>الدفع نقداً عند التسليم:</h1>
    <p>
      ستُضاف المبالغ المستردة إلى حساب العميل كنقاط متجر خطى ويمكن استخدامها
      في الطلب التالي.
    </p>
  </div>
  <div>
    <h1>نقاط متجر خطى:</h1>
    <p>
      ستُضاف المبالغ المستردة إلى حساب العميل كنقاط متجر خطى ويمكن استخدامها
      في الطلب التالي
    </p>
  </div>
  <div>
    <h1>سياسة الشحن</h1>
    <p>
      يتم الشحن خلال اليوم لكل الطلبات داخل الرياض، أما كل الطلبات داخل
      السعودية وخارج المدينة المنورة يستغرق الشحن من يوم إلى ثلاثة أيام عمل.
    </p>
  </div>
</div>