<div class="about-us">
  <div class="about-card">
    <img src="../../assets/about1.png" alt="صورة عن سويت هاوس - متجر الحلويات والمخبوزات" />
    <div>
      <p>
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن
        كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك
        أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع
        مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم
        إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات
        من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل
        النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي.
      </p>
    </div>
  </div>
  <div class="stats">
    <div class="card">
      <h1>+200</h1>
      <p>عملاء سعداء</p>
    </div>
    <div class="card">
      <h1>+10</h1>
      <p>سنوات الخبرة</p>
    </div>
    <div class="card">
      <h1>+20</h1>
      <p>عملاء الجملة</p>
    </div>
  </div>

  <div class="about-card">
    <div>
      <p>
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكل ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن
        كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن ليس هناك
        أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع
        مولّدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم
        إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولّدنا هذا باستخدام كلمات
        من قاموس يحوي على أكثر من 200 كلمة لا تينية، مضاف إليها مجموعة من الجمل
        النموذجية، لتكوين نص لوريم إيبسوم ذو شكل منطقي قريب إلى النص الحقيقي.
      </p>
    </div>
    <img src="../../assets/about2.png" alt="صورة عن سويت هاوس - مخبوزات طازجة وحلويات لذيذة" />
   
  </div>
</div>