<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سياسة الأستبدال</title>
    <link rel="Icon" type="image/png" href="/assets/Frame 5.png">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-buttons.css">
    <link rel="stylesheet" href="../../components/y-cards.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="y-replacement.css">
</head>

<body>
    <div class="y-c-sale-banner">
        <p>خصم %20 على رسوم التوصيل</p>
    </div>
    <div id="header-placeholder" class="y-c-sticky-header"></div>

    <section class="y-c-container">
        <section class="y-c-Privacy-container" data-y='replacement-container'>
            <br>
            <h1 data-y='page-title'>سياسيةالاسترجاع</h1>
            <br>
            <h3 data-y='replacement-policy-title'>سياسية الاسترجاع والاسترداد</h3>
            <br>
            <p>نعمل دائما لنيل رضاكم ونكون عند حسن ظنكم بنا. إذا كنت ترغب في إرجاع منتج ما، فنحن نقبل بسرور استبدال
                المنتج أو منحك رصيداً في المتجر أو إرجاع المنتج مقابل نقاط متجر الأحمدي.</p>
            <br>
            <p>في حال طلب استرجاع أي منتج، يرجى التواصل معنا عبر البريد الإلكتروني: care@aahmadi.sa أو الهاتف أو
                الواتساب: 966534411732+</p>
            <br>
            <h3>الدفع عبر الإنترنت:</h3>
            <br>
            <p>ستتم معالجة المبالغ المستردة في غضون ٢٤ ساعة وستضاف إلى حساب العميل في غضون 3-5 أيام عمل، اعتمادًا على
                مصدر البنك.</p>
            <br>
            <h3>الدفع نقدا عند التسليم:</h3>
            <br>
            <p>ستُضاف المبالغ المستردة إلى حساب العميل كنقاط متجر الأحمدي ويمكن استخدامها في الطلب التالي.</p>
            <br>
            <h3>نقاط متجر الأحمدي:</h3>
            <br>
            <p>ستُضاف المبالغ المستردة إلى حساب العميل كنقاط متجر الأحمدي ويمكن استخدامها في الطلب التالي</p>
            <br>
            <h3 data-y='shipping-policy-title'>سياسة الشحن</h3>
            <br>
            <p data-y='shipping-policy-text'>يتم الشحن خلال اليوم لكل الطلبات داخل المدينة المنورة، اما كل الطلبات داخل
                السعودية وخارج المدينة المنورة
                يستغرق الشحن من يوم الى ثلاثة ايام عمل.</p>
            <br>
        </section>
    </section>

    <div id="footer-placeholder"></div>

    <script src="../../js/shared-components.js"></script>
</body>

</html>