main .y-main-container {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin: 0 auto;
}

@media (max-width: 800px) {
  main .y-main-container{
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 98%;
  }

  .cart-list {
    min-width: auto;
    width: 100%;
  }
}
