<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-y='page-title'>من نحن - الذبيحة</title>
    <link rel="Icon" type="image/png" href="../../assets/logo.png" data-y="favicon">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="../../assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-footer.css">

    <link rel="stylesheet" href="./y-about-us.css">
    <link rel="manifest" href="./manifest.json">
</head>

<body>
    <div id="header-placeholder" data-y="header-placeholder"></div>

    <main class="y-l-about-us-section">
        <div class="y-u-container y-l-about-us-container" data-y="about-us-content">

            <div class="y-l-about-content" data-y="about-text-content">
                <h1 class="y-c-about-title" data-y="about-title">من نحن</h1>
                <p class="y-c-about-description" data-y="about-description">
                    إننا متجر متخصص في توفير أجود انواع اللحوم الطازجة بعناية واهتمام من المزرعة لحد باب بيتك. بنقدم
                    خدمات الذبح والتقطيع حسب رغبتك، وبنحرص إن كل طلب يوصل لك بأعلى معايير النظافة والجودة. هدفنا نوفر لك
                    لحمة مضمونة، طازجة، وسهلة في الطلب، علشان تعيش تجربة شراء مريحة وموثوقة من غير ما تتعب أو تدور.
                </p>
            </div>

            <div class="y-c-about-image" data-y="about-image-container">
                <img src="../../assets/about-us.png" alt="رجل يقطع قطعة لحم" data-y="about-image">
            </div>

        </div>
    </main>

    <div id="footer-placeholder" data-y="footer-placeholder"></div>

    <script src="../../js/shared-components.js" data-y="shared-components-script"></script>
    <script src="../../js/products.js"></script>
</body>

</html>