<footer class="footer">
  <div class="footer-content">
    <div class="footer-col sec1">
      <div class="footer-brand">
        <img src="../../assets/flogo.png" alt="شعار سويت هاوس - متجر الحلويات والمخبوزات" class="footer-logo" />
      </div>
      <p>
        <i class="fa-solid fa-location-dot"></i>الرياض - المملكة العربية
        السعودية
      </p>
      <p><i class="fa-solid fa-phone"></i>059688929 - 058493948</p>
      <p><i class="fa-solid fa-envelope"></i> info@super.ksa.com</p>
    </div>

    <div class="footer-col sec2">
      <h5>الصفحات</h5>
      <ul>
        <li><a href="../../templates/home/layout.html">الرئيسية</a></li>
        <li><a href="../../templates/offers/layout.html">العروض</a></li>
        <li><a href="../../templates/products/layout.html">المنتجات</a></li>
            </ul>
    </div>

    <div class="footer-col sec3">
      <h5>السياسات</h5>
      <ul>
        <li><a href="../../templates/policy/layout.html">سياسة الخصوصية</a></li>
        <li><a href="../../templates/policy/layout.html">سياسة الاسترجاع</a></li>
        <li><a href="../../templates/policy/layout.html">سياسة الشحن</a></li>
        <li><a href="../../templates/about us/layout.html">من نحن</a></li>
        <li><a href="../../templates/contact-us/layout.html">تواصل معنا</a></li>
      </ul>
    </div>
  </div>

  <div class="last">
    <p>جميع الحقوق محفوظة ل @ yamamah solutions</p>
    <div>
      <p>طرق الدفع</p>
      <img src="../../assets/payment-methods.png" alt="طرق الدفع المتاحة - مدى، فيزا، ماستركارد" />
      <img src="../../assets/stc-pay.png" alt="شعار STC Pay - طريقة دفع إلكترونية" />
    </div>
  </div>
</footer>