<header class="y-u-flex y-u-justify-center y-u-items-center y-u-fixed header y-u-top-left">
  <div class="container y-u-flex y-u-justify-between y-u-items-center y-u-w-full y-u-max-w-1200 top">
    <div class="logo y-u-flex y-u-justify-end y-u-items-center">
      <a href="../../templates/home/layout.html" class="y-u-text-3xl y-u-font-bold y-u-color-primary contact-us-phone">
        <i class="fa-solid fa-phone"></i> اتصل بنا
      </a>
      <div class="search-input">
        <i class="fa-solid fa-search"></i>
        <input type="text" placeholder="ابحث عن منتج" />
      </div>
    </div>

    <div class="user-nav y-u-flex y-u-justify-end y-u-items-center">
      <a href="../../templates/wishlist/layout.html">
        <i class="fa fa-heart"></i>
      </a>
      <a href="../../templates/cart/layout.html">
        <i class="fa-solid fa-basket-shopping"></i>
      </a>
      <a href="../../templates/my-account/layout.html">
        <i class="fa fa-user"></i>
      </a>
    </div>
  </div>

  <div class="mobile-menu-overlay">
    <ul class="mobile-menu y-u-flex y-u-justify-start y-u-flex-col y-u-gap-16">
      <li><a href="../../templates/home/layout.html">
           الرئيسية
        </a></li>

      <li><a href="../../templates/products/layout.html">
           المنتجات
        </a></li>

      <li><a href="../../templates/recepies/layout.html">
         وصفاتنا
        </a></li>

      <li><a href="../../templates/about-us/layout.html">
         من نحن
        </a></li>

    </ul>

  </div>


  <div class="container y-u-flex y-u-justify-between y-u-items-center y-u-w-full y-u-max-w-1200 bottom">
    <div class="logo y-u-justify-end y-u-items-center mobile">
      <a href="../../templates/home/layout.html" class="y-u-text-3xl y-u-font-bold y-u-color-primary">
        <img src="../../assets/logo.png" alt="شعار سويت هاوس - متجر الحلويات والمخبوزات">
      </a>
    </div>
    <ul class="desktop-menu y-u-flex y-u-justify-end y-u-items-center">
      <li><a href="../../templates/home/layout.html">
        الرئيسية
      </a></li>

    <li><a href="../../templates/products/layout.html">
        المنتجات
      </a></li>

      <li><a href="../../templates/home/layout.html" class="y-u-text-3xl y-u-font-bold y-u-color-primary">
        <img src="../../assets/logo.png" alt="navbar-icon">
      </a></li>

    <li><a href="../../templates/recepies/layout.html">
        وصفاتنا
      </a></li>

    <li><a href="../../templates/about-us/layout.html">
        من نحن
      </a></li>

    </ul>
    <button class="mobile-menu-btn y-u-flex-col y-u-justify-between" aria-label="Toggle mobile menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="user-nav y-u-flex y-u-justify-end y-u-items-center mobile">
      <a href="../../templates/wishlist/layout.html">
        <i class="fa fa-heart"></i>
      </a>
      <a href="../../templates/cart/layout.html">
        <i class="fa-solid fa-basket-shopping"></i>
      </a>
      <a href="../../templates/my-account/layout.html">
        <i class="fa fa-user"></i>
      </a>
    </div>
  </div>

</header>