<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-y='page-title'>تأكيد إعادة تعيين كلمة المرور</title>
    <link rel="Icon" type="image/png" href="/assets/Frame 5.png">

    <link rel="stylesheet" href="../../base/reset.css">
    <link rel="stylesheet" href="../../base/tokens.css">
    <link rel="stylesheet" href="../../base/typography.css">
    <link rel="stylesheet" href="../../base/utilities.css">

    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="../../components/y-buttons.css">
    <link rel="stylesheet" href="../../components/y-forms.css">
    <link rel="stylesheet" href="../../components/y-header.css">
    <link rel="stylesheet" href="../../components/y-footer.css">
    <link rel="stylesheet" href="y-password-confirm.css">

</head>

<body>
    <div class="y-c-sale-banner">
        <p>خصم %20 على رسوم التوصيل</p>
    </div>

    <div id="header-placeholder" class="y-c-sticky-header"></div>

    <section class="y-c-container">

        <div class="y-l-pass-confirmed">
            <h1 class="y-c-header-title">حسابي</h1>
            <br>
            <p data-y='confirmation-message'>
                <span class="fa-solid fa-circle-check"></span>
                لقد تم إرسال رسالة إلى البريد الإلكتروني لإعادة تعيين كلمة المرور.
            </p>
            <hr>
            <br>
            <p data-y='email-sent-text'>لقد تم إرسال رسالة إعادة تعيين كلمة المرور إلى عنوان البريد الإلكتروني الموجود
                في ملف حسابك. ولكن قد
                تستغرق
                عدة دقائق لتظهر في صندوق البريد الوارد لديك. يرجى الانتظار لمدة 10 دقائق على الأقل قبل محاولة إعادة
                تعيين
                آخر.
            </p>
            <div class="y-c-login-btn-container">
                <a href="../login/layout.html" class="y-c-login-btn" data-y='return-to-login-btn'>العودة إلى تسجيل
                    الدخول</a>
            </div>
        </div>
        <br>
        <br>
    </section>

    <div id="footer-placeholder"></div>

    <script src="../../js/shared-components.js"></script>
    <script src="../../js/password-confirm.js"></script>
</body>

</html>