.y-l-pass-confirmed {
    max-width: 700px;
    margin: 40px 0;
}

.y-l-pass-confirmed p span {
    color: #25D366;
}

.y-l-pass-forget-field {
    max-width: 700px;
}

@media (max-width: 480px) {
    .y-l-pass-confirmed {
        padding: 20px;
        border: 1px solid var(--y-color-text);
        border-radius: var(--y-border-radius-md);
    }
}