<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beauty Time </title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/panner.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="./services.css" />
</head>

<body>
  <y-navbar></y-navbar>
  <main>
    <section class="panner">
      <p>الاقسام</p>
    </section>
    <section class="services-section">
      <div class="container y-u-max-w-1200">
        <div class="services-grid">
          <a href="./sub-services.html">
            <div class="service-card">
              <img src="../../assets/services1.png" alt="">
              <p>العناية بالشعر</p>
              <p>دعي شعرك يتألق بأناقة وجمال مع خدماتنا لتصفيف وعناية الشعر. نقدم لكِ الصيحات في عالم التجميل لتحقيق
                إطلالة رائعة تليق بكِ.</p>
              <img src="../../assets/services1-sub.png" alt=" sub-services1">
            </div>
          </a>

          <a href="./sub-services.html">
            <div class="service-card">
              <img src="../../assets/services2.png" alt="">
              <p>العناية بالأظافر</p>
              <p>استمتعي بأظافر مثالية ومتألقة مع خدماتنا للعناية بالأظافر. نقدم لكِ عناية مثالية لتحصلي على إطلالة
                مميزة
                ومظهر أنيق يلفت الأنظار.</p>
              <img src="../../assets/services2-sub.png" alt=" sub-services2">
            </div>
          </a>

          <a href="./sub-services.html">
            <div class="service-card">
              <img src="../../assets/services3.png" alt="">
              <p>العناية بالبشرة</p>
              <p>استعدي لتجربة عناية فريدة ببشرتك مع خدماتنا المتميزة لتنظيف الوجه، نقدم لك منتجات ذات جودة عالية لتحقيق
                بشرة صحية ومتألقة.
              </p>
              <img src="../../assets/services3-sub.png" alt=" sub-services3">
            </div>
          </a>

          <a href="./sub-services.html">
            <div class="service-card">
              <img src="../../assets/services4.png" alt="">
              <p>المكياج</p>
              <p>أبرزي جمالكِ الطبيعي وأضيفي لمسة من الأناقة والجاذبية على مظهرك، لتشعري بالثقة والجمال في كل مناسبة مع
                خدماتنا للمكياج</p>
              <img src="../../assets/services4-sub.png" alt=" sub-services4">
            </div>
          </a>

          <a href="./sub-services.html">
            <div class="service-card">
              <img src="../../assets/services5.png" alt="">
              <p>العناية بالأطفال</p>
              <p>دعي أطفالك يستمتعون بتجربة عناية مميزة للشعر والبشرة، مع خدمات العناية بالأطفال حيث نقدم لهم أعلى
                مستويات
                الرعاية لضمان صحتهم وجمالهم الطبيعي.</p>
              <img src="../../assets/services5-sub.png" alt=" sub-services5">
            </div>
          </a>

          <a href="./sub-services.html">
            <div class="service-card">
              <img src="../../assets/services6.png" alt="">
              <p>المساج</p>
              <p>استمتعي بتجربة فريدة من نوعها للاسترخاء والتجديد مع خدمة المساج المتميزة، حيث تتخلصين من ضغوط الحياة
                وتستعيدين طاقتكِ وحيويتكِ.</p>
              <img src="../../assets/services6-sub.png" alt=" sub-services6">
            </div>
          </a>

        </div>
      </div>
    </section>
  </main>

  <y-footer></y-footer>
  <script src="../../js/y-app-init.js"></script>
</body>

</html>