<div class="auth-container">
  <div class="img-container">
    <img src="../../assets/signup.png" alt="" />
  </div>
  <div class="form">
    <form action="POST">
      <h1>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-user-plus">
            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="8.5" cy="7" r="4"></circle>
            <line x1="20" y1="8" x2="20" y2="14"></line>
            <line x1="23" y1="11" x2="17" y2="11"></line>
          </svg> </span>إنشاء حساب جديد
      </h1>
      <label for="email">البريد الإلكتروني</label>
      <input type="email" required />
      <label for="password">كلمة المرور</label>
      <input type="password" required />
      <label for="confirm-password">تأكيد كلمة المرور</label>
      <input type="password" required />

      <label class="checkbox">
        <input type="checkbox" required />
        <span class="checkmark"></span>
        <p>أوافق على <a href="#">الشروط والأحكام</a></p>
      </label>
      <a href="#products" class="btn-auth">إنشاء حساب</a>
      <p class="text y-u-text-center">
        لديك حساب بالفعل؟
        <a href="../../templates/login/layout.html" class="y-t-text-decoration-none">تسجيل الدخول</a>
      </p>
    </form>
  </div>
</div>