<div class="y-c-contact-info-card-container">
    <div class="y-c-contact-info-card">
        <div class="y-c-contact-info-card-header">
            <div>
                <span>الاسم</span>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <p data-y='user-name'>Mohamed Elgohary</p>
    </div>
    <br>
    <div class="y-c-contact-info-card">
        <div class="y-c-contact-info-card-header">
            <div>
                <span>البريد الإلكتروني</span>
                <i class="fa-regular fa-envelope"></i>
            </div>
        </div>
        <p data-y='user-email'>mohamedelgohary410@gmail.com</p>
    </div>
</div>
<br>
<div class="y-c-contact-info-card-container y-u-flex y-u-text-center">
    <div class="y-c-contact-info-card">
        <div class="y-c-contact-info-card-header">
            <div>
                <span>العنوان</span>
                <i class="fa-solid fa-location-dot"></i>
            </div>
        </div>
        <p data-y='user-address'>tanta egypt</p>
    </div>
</div>
<br>
<div class="y-c-login-btn-container">
    <button class="y-c-login-btn" data-y='edit-btn'>تعديل البيانات</button>
</div>