<form class="y-c-form-container" data-y='address-form'>
    <div class="y-c-form-row">
        <div class="y-c-form-field">
            <label class="y-c-form-label">الاسم الأول <span class="y-c-required-mark">*</span></label>
            <input type="text" class="y-c-form-input" required data-y='first-name-input'>
        </div>
        <div class="y-c-form-field">
            <label class="y-c-form-label">اسم العائلة <span class="y-c-required-mark">*</span></label>
            <input type="text" class="y-c-form-input" required data-y='last-name-input'>
        </div>
    </div>

    <div class="y-c-form-field">
        <label class="y-c-form-label">الدولة/المنطقة <span class="y-c-required-mark">*</span></label>
        <input type="text" class="y-c-form-input" value="المملكة العربية السعودية" readonly data-y='country-input'>
    </div>

    <div class="y-c-form-field">
        <label class="y-c-form-label">العنوان <span class="y-c-required-mark">*</span></label>
        <input type="text" class="y-c-form-input" placeholder="عنوان الشارع/رقم المنزل" required
            style="margin-bottom:10px;" data-y='street-address-input'>
        <input type="text" class="y-c-form-input" placeholder="رقم الشقة (اختياري)" data-y='apartment-input'>
    </div>

    <div class="y-c-form-field">
        <label class="y-c-form-label">المدينة <span class="y-c-required-mark">*</span></label>
        <input type="text" class="y-c-form-input" required data-y='city-input'>
    </div>

    <div class="y-c-form-field">
        <label class="y-c-form-label">المحافظة <span class="y-c-required-mark">*</span></label>
        <input type="text" class="y-c-form-input" required data-y='state-input'>
    </div>

    <div class="y-c-form-field">
        <label class="y-c-form-label">الرمز البريدي <span class="y-c-required-mark">*</span></label>
        <input type="text" class="y-c-form-input" required data-y='postal-code-input'>
    </div>

    <div class="y-c-form-field">
        <label class="y-c-form-label">الهاتف <span class="y-c-required-mark">*</span></label>
        <input type="tel" class="y-c-form-input" required data-y='phone-input'>
    </div>

    <div class="y-c-form-field">
        <label class="y-c-form-label">البريد الإلكتروني <span class="y-c-required-mark">*</span></label>
        <input type="email" class="y-c-form-input" required data-y='email-input'>
    </div>
    <div class="y-c-form-actions">
        <button type="button" class="y-c-login-btn" data-y='cancel-btn'>إلغاء</button>
        <button type="submit" class="y-c-login-btn" data-y='save-address-btn'>حفظ </button>
    </div>
</form>