<div class="orders-wrapper y-u-d-flex y-u-justify-center y-u-align-content-center">
  <div class="orders-header">
    <div class="order-column"><span>الطلب</span></div>
    <div class="order-column"><span>التاريخ</span></div>
    <div class="order-column"><span>الحالة</span></div>
    <div class="order-column"><span>الإجمالي</span></div>
    <div class="order-column"><span>إجراءات</span></div>
  </div>

  <div class="orders-row">
    <div class="order-column"><span>#66538</span></div>
    <div class="order-column"><span>2/8/2024</span></div>
    <div class="order-column"><span>ناجح</span></div>
    <div class="order-column"><span>886 ر.س ل 3 عناصر</span></div>
    <div class="order-column"><button>عرض</button></div>
  </div>
  <div class="orders-row">
    <div class="order-column"><span>#66538</span></div>
    <div class="order-column"><span>2/8/2024</span></div>
    <div class="order-column"><span>ناجح</span></div>
    <div class="order-column"><span>886 ر.س ل 3 عناصر</span></div>
    <div class="order-column"><button>عرض</button></div>
  </div>
  <div class="orders-row">
    <div class="order-column"><span>#66538</span></div>
    <div class="order-column"><span>2/8/2024</span></div>
    <div class="order-column"><span>ناجح</span></div>
    <div class="order-column"><span>886 ر.س ل 3 عناصر</span></div>
    <div class="order-column"><button>عرض</button></div>
  </div>
  <div class="orders-row">
    <div class="order-column"><span>#66538</span></div>
    <div class="order-column"><span>2/8/2024</span></div>
    <div class="order-column"><span>ناجح</span></div>
    <div class="order-column"><span>886 ر.س ل 3 عناصر</span></div>
    <div class="order-column"><button>عرض</button></div>
  </div>
</div>