<footer class="y-c-footer">
    <div class="y-c-footer-container">
        <div class="y-c-footer-content">
            <div class="y-c-footer-section">
                <h3>حولنا</h3>
                <p>
                    لقد بنينا سمعتنا من خلال الالتزام بالجودة، والاهتمام بأدق التفاصيل، وتقديم تجربة تسوّق إلكتروني
                    سلسة وآمنة تلبي تطلعات عملائنا. تميزنا لا يأتي من فراغ، بل هو ثمرة رؤية واضحة وفريق عمل محترف،
                    ودعم متواصل لكل عميل يسعى للتميز في عالم التجارة الرقمية.
                </p>
            </div>

            <div class="y-c-footer-section">
                <h3>روابط مهمة</h3>
                <ul>
                    <li><a href="/templates/account/layout.html">طلباتي</a></li>
                    <li><a href="/templates/replacement/layout.html">سياسة الاستبدال</a></li>
                    <li><a href="/templates/privacy/layout.html">سياسة الخصوصية والاستخدام</a></li>
                </ul>
            </div>

            <div class="y-c-footer-section">
                <h3>روابط أخرى</h3>
                <ul>
                    <li><a href="/templates/contact-us/layout.html">تواصل معنا</a></li>
                    <li><a href="/templates/about-us/layout.html">من نحن</a></li>
                </ul>
            </div>

            <div class="y-c-footer-section">
                <h3>خدمات العملاء</h3>
                <ul>
                    <li><a href="/templates/account/layout.html">حسابي</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="y-c-footer-bottom">
        <img src="/assets/Frame 5.png" alt="store logo">
        <div>
            <p>جميع الحقوق محفوظة لYamama solutions</p>
        </div>

    </div>
</footer>