<header class="y-c-header">
    <div class="y-c-header-container">
        <div class="y-c-header-right">
            <div class="y-c-cart-icon">
                <a href="/templates/cart/layout.html">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="y-c-cart-text">ر.س 0.00</span>
                </a>

            </div>
            <div class="y-c-user-icons">
                <a href="/templates/favorite/layout.html">
                    <i class="fa-solid fa-heart"></i>
                </a>
                <a href="/templates/account/layout.html">
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>

        </div>
        <div class="y-c-phone-info">
            <i class="fa-solid fa-phone"></i>
            <a href="tel:+966534411732" class="y-c-contact-link">
                <div>اتصل بنا</div>
                <div>966534411732+</div>
            </a>
        </div>
        <div class="y-c-header-center">
            <div class="y-c-search-container">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="search" class="y-c-search-input">
            </div>
        </div>

        <div class="y-c-header-left">
            <a href="/templates/home/layout.html">
                <div class="y-c-logo">
                    <img src="/assets/Frame 5.png" alt="Logo">
                </div>
            </a>
        </div>
    </div>

    <nav class="y-c-navigation">
        <div class="y-c-nav-container">
            <div class="y-c-categories-dropdown">
                <button class="y-c-categories-btn" id="categoriesBtn">
                    <i class="fas fa-bars"></i>
                    الفئات
                </button>
                <div class="y-c-dropdown-content" id="categoriesDropdown">
                    <a href="/templates/shop-archive/layout.html">الزيوت</a>
                    <a href="/templates/shop-archive/layout.html">القهوة والشاي</a>
                    <a href="/templates/shop-archive/layout.html">الحبوب</a>
                    <a href="/templates/shop-archive/layout.html">اللحوم</a>
                    <a href="/templates/shop-archive/layout.html">الأسماك</a>
                    <a href="/templates/shop-archive/layout.html">منتجات الألبان</a>
                    <a href="/templates/shop-archive/layout.html">الفواكه</a>
                    <a href="/templates/shop-archive/layout.html">الخضروات</a>
                </div>
            </div>
            <ul class="y-c-nav-links">
                <li><a href="/templates/home/layout.html" class="y-c-active">الرئيسية</a></li>
                <li><a href="/templates/shop-archive/layout.html">تسوق</a></li>
                <li><a href="/templates/about-us/layout.html">من نحن</a></li>
                <li><a href="/templates/contact-us/layout.html">تواصل معنا</a></li>
            </ul>
            <div></div>
        </div>
    </nav>
</header>

<div class="y-c-mobile-header">

    <div class="y-c-mobile-logo">
        <a href="/templates/home/layout.html">
            <img src="/assets/Frame 5.png" alt="Logo">
        </a>
    </div>
    <div class="y-c-mobile-icons">
        <a href="/templates/favorite/layout.html">
            <i class="fa-solid fa-heart"></i>
        </a>
        <a href="/templates/account/layout.html">
            <i class="fa-solid fa-user"></i>
        </a>
        <i class="fas fa-search mobile-search-icon" id="mobileSearchIcon"></i>
        <a href="/templates/cart/layout.html">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
    </div>

</div>
<div class="y-c-mobile-header-actions">
    <button class="y-c-mobile-header-menu-btn" id="mobileMenuBtn">
        القائمة
        <i class="fas fa-chevron-down"></i>
    </button>
    <div class="y-c-mobile-nav-dropdown" id="mobileNavDropdown">
        <ul class="y-c-mobile-nav-links">
            <li><a href="/templates/home/layout.html" class="y-c-active">الرئيسية</a></li>
            <li><a href="/templates/shop-archive/layout.html">تسوق</a></li>
            <li><a href="/templates/about-us/layout.html">من نحن</a></li>
            <li><a href="/templates/contact-us/layout.html">تواصل معنا</a></li>
        </ul>
    </div>
    <div class="y-c-categories-dropdown">
        <button class="y-c-categories-btn mobile-categories-btn" id="categories-mobile-Btn">
            <i class="fas fa-bars"></i>
            الفئات
            <i class="fas fa-chevron-down"></i>
        </button>
        <div class="y-c-dropdown-content" id="categoriesMobileDropdown">
            <a href="/templates/shop-archive/layout.html">الزيوت</a>
            <a href="/templates/shop-archive/layout.html">القهوة والشاي</a>
            <a href="/templates/shop-archive/layout.html">الحبوب</a>
            <a href="/templates/shop-archive/layout.html">اللحوم</a>
            <a href="/templates/shop-archive/layout.html">الأسماك</a>
            <a href="/templates/shop-archive/layout.html">منتجات الألبان</a>
            <a href="/templates/shop-archive/layout.html">الفواكه</a>
            <a href="/templates/shop-archive/layout.html">الخضروات</a>
        </div>
    </div>
</div>



<div class="y-c-mobile-search-expanded" id="mobileSearchExpanded">
    <div class="y-c-search-container">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="search" class="y-c-search-input">
    </div>
</div>