<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beauty Care</title>
  <link rel="manifest" href="../manifest.json" />
  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="icon" href="../../assets/icon.png" />
  <link rel="stylesheet" href="../../base/utilities.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../components/header.css" />
  <link rel="stylesheet" href="../../components/footer.css" />
  <link rel="stylesheet" href="../../components/buttons.css" />
  <link rel="stylesheet" href="../../components/products.css" />
  <link rel="stylesheet" href="../../components/quantity.css" />
  <link rel="stylesheet" href="../../components/fav-icon.css" />
  <link rel="stylesheet" href="../../components/payment-details.css" />
  <link rel="stylesheet" href="product-details.css" />


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
  <y-navbar></y-navbar>

  <main>

    <section class="details-section">
      <div class="container y-u-max-w-1200">
        <div class="breadcrumbs mobile">
          <a href="../store/store.html">المتجر</a>
          /
          <a href="../store/store.html">العناية بالبشرة</a>
          /
          <a href="#" class="active">سيرم فيتامين سي - 30 مل</a>
        </div>
        <div class="imgs-section">
          <div class="imgs">
            <img src="../../assets/pro2.jpg" alt="">
            <img src="../../assets/pro2.jpg" alt="">
            <img src="../../assets/pro2.jpg" alt="">
          </div>
          <div class="main-img">
            <label class="favorite-toggle">
              <input type="checkbox" class="favorite-toggle__checkbox">
              <span class="favorite-toggle__icon">

                <i class="fa-solid fa-heart" aria-hidden="true"></i>
                <i class="fa-regular fa-heart" aria-hidden="true"></i>
              </span>
            </label>
            <img src="../../assets/pro2.jpg" alt="">
          </div>

        </div>
        <div class="content">
          <div class="breadcrumbs">
            <a href="../store/store.html">المتجر</a>
            /
            <a href="../store/store.html">العناية بالبشرة</a>
            /
            <a href="#" class="active">سيرم فيتامين سي - 30 مل</a>
          </div>
          <h3>سيرم فيتامين سي - 30 مل</h3>
          <p>تركيبة غنية بمضادات الأكسدة تعمل على تفتيح البشرة وتوحيد لونها، مع تعزيز نضارتها ومحاربة علامات التعب
            والتقدم في السن، لتمنحكِ إشراقة طبيعية ولمعان صحي يدوم طوال اليوم.</p>
          <div class="price">
            <p>50</p>
            <img src="../../assets/ryal.svg" alt="">
          </div>
          <div class="quantity">
            <button><i class="fa-solid fa-minus"></i></button>
            <input type="number" value="1">
            <button><i class="fa-solid fa-plus"></i></button>
          </div>
          <div class="buttons">
            <button onclick="window.location.href='../payment/payment.html'">اشتري الآن</button>
            <button>إضافة إلى العربة</button>

          </div>
        </div>

      </div>
    </section>

    <section class="payment-methods">
      <div class="container y-u-max-w-1200">
        <div class="payment-method">
          <p>قسِّمها على 5 دفعات بقيمة 10 ر.س بدون فوائد.
            
            <br>
            متوافق مع أحكام الشريعة الإسلامية.
             
          <a href="">لمعرفة المزيد</a>
          </p>
          <img src="../../assets/taby-pay.png" alt="">
        </div>
        <div class="payment-method">
          <p>أو قسّم فاتورتك بقيمة 10 ر.س على 5 دفعات بدون رسوم تأخير.
            <br>
            
            متوافقة مع الشريعة الإسلامية . 


            <a href="">لمعرفة المزيد</a>
          </p>
             
          

          <img src="../../assets/tmara-pay.png" alt="">
        </div>
      </div>
    </section>

    <section class="ingredients-section">
      <div class="container y-u-max-w-1200">
        <div class="details">
          <h2>المكونات</h2>
          <div class="grid-items">
            <div class="item">
              <p>فيتامين C</p>
              <p>تحفيز الكولاجين وتقليل التصبغات.</p>
            </div>
            <div class="item">
              <p>بانثينول</p>
              <p>لتنعيم وترطيب البشرة</p>
            </div>
            <div class="item">
              <p>جليسرين</p>
              <p>ترطيب البشرة ومنع الجفاف.</p>
            </div>
            <div class="item">
              <p>مستخلص الشاي الأخضر</p>
              <p>يحارب علامات التقدّم بالعمر.</p>
            </div>
            <div class="item">
              <p>مستخلص الصبار</p>
              <p>يقلل الاحمرار والالتهابات.</p>
            </div>
            <div class="item">
              <p>زيت الجوجوبا</p>
              <p>تغذية طبيعية بدون ترك أثر دهني.</p>
            </div>
          </div>

        </div>
        <img src="../../assets/ingredients.jpg" alt="">

      </div>


    </section>
    <section class="way-section">
      <div class="container y-u-max-w-1200">
        <h2>طريقة الاستخدام</h2>
        <div class="way-grid">
          <div class="item">
            <img src="../../assets/way1.jpg" alt="">
            <div class="info">
              <p>نظّفي وجهك جيدًا</p>
              <p>نظّفي وجهك جيدًا باستخدام غسول لطيف لإزالة الأتربة والزيوت الزائدة.</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/way2.jpg" alt="">
            <div class="info">
              <p>ضعي السيروم</p>
              <p>ضعي 3–5 قطرات من السيروم على وجهك ودلّكي بلطف بحركات دائرية حتى تمتصه البشرة تمامًا.</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/way3.jpg" alt="">
            <div class="info">
              <p>دعي بشرتك تمتصه</p>
              <p>اتركي السيروم على بشرتك حتى تمتصه من 1-2 دقائق قبل أن تضعي أي منتج آخر.</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/way4.jpg" alt="">
            <div class="info">
              <p>ضعي المرطب</p>
              <p>ضعي كريم الترطيب المعتاد المناسب لنوع بشرتك.</p>
            </div>
          </div>
        </div>


      </div>


    </section>
    <section class="products-section">
      <div class=" container y-u-max-w-1200">
        <h2>منتجاتنا المميزة</h2>
        <div class="products-grid">


          <a href="../product-details/product-details.html">
            <div class="product-card">
              <div class="product-img">                <label class="favorite-toggle">
                <input type="checkbox" class="favorite-toggle__checkbox">
                <span class="favorite-toggle__icon">

                  <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  <i class="fa-regular fa-heart" aria-hidden="true"></i>
                </span>
              </label>
                <img src="../../assets/pro2.jpg" alt="">
                <button><img src="../../assets/add-to-cart.svg" alt=""></button>
              </div>
              <div class="product-content">
                <p class="product-title"> سيرم فيتامين سي</p>
                <p class="product-price">30 <img src="../../assets/ryal.svg" alt=""></p>
              </div>
            </div>
          </a>
          <a href="../product-details/product-details.html">
            <div class="product-card">
              <div class="product-img">                <label class="favorite-toggle">
                <input type="checkbox" class="favorite-toggle__checkbox">
                <span class="favorite-toggle__icon">

                  <i class="fa-solid fa-heart" aria-hidden="true"></i>
                  <i class="fa-regular fa-heart" aria-hidden="true"></i>
                </span>
              </label>
                <img src="../../assets/pro3.jpg" alt="">
                <button><img src="../../assets/add-to-cart.svg" alt=""></button>
              </div>
              <div class="product-content">
                <p class="product-title"> تونر مرطب</p>
                <p class="product-price">70 <img src="../../assets/ryal.svg" alt=""></p>
              </div>
            </div>
          </a>
          <a href="../product-details/product-details.html">
            <li class="product-card">
              <div class="product-img">
                <label class="favorite-toggle">
                  <input type="checkbox" class="favorite-toggle__checkbox">
                  <span class="favorite-toggle__icon">

                    <i class="fa-solid fa-heart" aria-hidden="true"></i>
                    <i class="fa-regular fa-heart" aria-hidden="true"></i>
                  </span>
                </label>
                <img src="../../assets/pro1.jpg" alt="">
                <button><img src="../../assets/add-to-cart.svg" alt=""></button>
              </div>
              <div class="product-content">
                <p class="product-title">ماسك الطمي</p>
                <p class="product-price">30 <img src="../../assets/ryal.svg" alt=""></p>
              </div>
            </li>
          </a>

        </div>
      </div>
    </section>


  </main>


  <y-footer></y-footer>

  <script src="../../js/y-app-init.js"></script>
</body>

</html>