<div class="contact-us">
  <h1 class=""><i class="fa-solid fa-envelope"></i>يسعدنا استقبال رسالتك</h1>
  <div>
    <form action="" method="post">
      <div class="y-u-mt-2 y-u-mb-1">
        <label for="name">الاسم ثلاثي</label>
        <input type="text" id="name" name="name" class="input" required />
      </div>
      <div class="y-u-mb-1">
        <label for="email">البريد الإلكتروني</label>
        <input type="email" id="email" name="email" class="input" required />
      </div>
      <div class="y-u-mb-1">
        <label for="phone">رقم الهاتف</label>
        <input type="tel" id="phone" name="phone" class="input" required />
      </div>
      <div class="msg-topic">
        <label for="topic">موضوع الرسالة</label>
        <input type="text" id="topic" name="topic" class="input" required />
      </div>
      <div class="y-u-mb-1">
        <label for="message">رسالتك</label>
        <textarea id="message" name="message" class="textarea" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn-primary y-u-d-block">إرسال</button>
    </form>
    <div class="contact-info">
      <h2>تواصل معنا</h2>
      <p>
        <i class="fa-solid fa-location-dot"></i>الرياض - المملكة العربية
        السعودية
      </p>
      <p><i class="fa-solid fa-phone"></i>059688929 - 058493948</p>
      <p><i class="fa-solid fa-envelope"></i> info@super.ksa.com</p>
    </div>
  </div>
  <h2 class="section-title"><img src="../../assets/style.svg" alt="زخرفة تصميمية" /></h2>
  <div class="visit">
    <h2>زورونا في معرض دارك</h2>
    <h2>أوقات الدوام من 9:30 ص حتى 10:30 م</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3714.299193570229!2d46.696511975000004!3d24.693191200000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee4e61d2ce76f%3A0x32f0826979251e13!2sDarak%20Furniture%20Store!5e0!3m2!1sen!2ssa!4v1733536800000!5m2!1sen!2ssa"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>