<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=no"
    />
    <title data-y="page-title">layout</title>
    <link rel="icon" href="../../assets/icon.png" type="image/x-icon">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Gulzar&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../base/reset.css" />
    <link rel="stylesheet" href="../../base/tokens.css" />
    <link rel="stylesheet" href="../../base/typography.css" />
    <link rel="stylesheet" href="../../base/utilities.css" />

    <link rel="stylesheet" href="../../components/layout/y-c-navbar.css" />
    <link rel="stylesheet" href="../../components/layout/y-c-footer.css" />
    <link rel="stylesheet" href="../../components/buttons/y-c-auth-btn.css" />
    <link rel="stylesheet" href="../../components/layout/y-c-breadcrumb.css" />
    <link
      rel="stylesheet"
      href="../../templates/pages header/y-c-design-header.css"
    />
    <link
      rel="stylesheet"
      href="../../components/text fields/y-c-text-fields.css"
    />
    <link
      rel="stylesheet"
      href="../../components/cards/y-c-cart-summary-card.css"
    />
    <link
      rel="stylesheet"
      href="../../components/payment/y-c-payment-form.css"
    />
    <link rel="stylesheet" href="../../templates/payment/payment.css" />
    <link rel="stylesheet" href="../../css/y-animations.css" />
  </head>
  <body data-current-page="payment">
    <div data-y="nav"></div>
    <header data-y="design-header"></header>

    <main data-y="main" class="">
      <div class="y-main-container">
        <div data-y="breadcrumb"></div>
      </div>
      <div class="y-main-container">
        <div data-y="payment"></div>
        <div data-y="payment-summary" class="summary"></div>
      </div>
    </main>

    <footer data-y="footer"></footer>

    <script src="../../js/y-navbar.js"></script>
    <script src="../../js/y-footer.js"></script>
    <script src="../../js/y-design-header.js"></script>
    <script src="../../js/y-breadcrumb.js"></script>
    <script src="../../js/y-payment-summary-card.js"></script>
    <script src="../../js/y-payment.js"></script>
  </body>
</html>
