main .y-main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.woocommerce-checkout-payment .wc-credit-card-form {
  display: none;
}

@media (max-width: 820px) {
  main .y-main-container {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
  }
}
