<div class="about-us">
  <div class="about-card">
      <p>
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكلٍ ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن
        كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً من عدم وجود
        أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع
        مولدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم
        إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولدنا هذا باستخدام كلمات
        من قاموس يحوي أكثر من 200 كلمة لاتينية، مضافًا إليها مجموعة من الجمل
        النموذجية، لتكوين نص لوريم إيبسوم ذي شكل منطقي قريب من النص الحقيقي.
      </p>
    <img src="../../assets/about.png" alt="" />
  </div>
  <div class="about-card">
      <p>
        هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم
        تعديلها بشكلٍ ما عبر إدخال بعض النوادر أو الكلمات العشوائية إلى النص. إن
        كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً من عدم وجود
        أي كلمات أو عبارات محرجة أو غير لائقة مخبأة في هذا النص. بينما تعمل جميع
        مولدات نصوص لوريم إيبسوم على الإنترنت على إعادة تكرار مقاطع من نص لوريم
        إيبسوم نفسه عدة مرات بما تتطلبه الحاجة، يقوم مولدنا هذا باستخدام كلمات
        من قاموس يحوي أكثر من 200 كلمة لاتينية، مضافًا إليها مجموعة من الجمل
        النموذجية، لتكوين نص لوريم إيبسوم ذي شكل منطقي قريب من النص الحقيقي.
      </p>
    <img src="../../assets/about2.png" alt="" />
  </div>
</div>

<div class="y-u-my-10 ad2">
  <img src="../../assets/ad2.png" alt="" />
</div>
