<div class="recipe-container">
    <h2 class="recipe-title">وصفات
        مميزة</h2>
    <div class="recipe-grid">
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe1.png" alt="recipe1">
                <p>فطيرة جبنة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe2.png" alt="recipe1">
                <p>بودينغ الشوكولاتة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe3.png" alt="recipe1">
                <p>بريدة بودينغ</p>
            </div>
        </a>
    </div>
    <h2 class="recipe-title">حلويات</h2>
    <div class="recipe-grid">
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe1.png" alt="recipe1">
                <p>فطيرة جبنة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe2.png" alt="recipe1">
                <p>بودينغ الشوكولاتة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe3.png" alt="recipe1">
                <p>بريدة بودينغ</p>
            </div>
        </a>
    </div>
    <h2 class="recipe-title">مقبلات</h2>
    <div class="recipe-grid">
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe1.png" alt="recipe1">
                <p>فطيرة جبنة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe2.png" alt="recipe1">
                <p>بودينغ الشوكولاتة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe3.png" alt="recipe1">
                <p>بريدة بودينغ</p>
            </div>
        </a>
    </div>
    <h2 class="recipe-title">أطباق رئيسية</h2>
    <div class="recipe-grid">
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe1.png" alt="recipe1">
                <p>فطيرة جبنة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe2.png" alt="recipe1">
                <p>بودينغ الشوكولاتة</p>
            </div>
        </a>
        <a href="../../templates/recepies/recipe1.html" class="recipe-card-link">
            <div class="recipe-card">
                <img src="../../assets/recipe3.png" alt="recipe1">
                <p>بريدة بودينغ</p>
            </div>
        </a>
    </div>
   
  </div>