<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=no" />
  <title data-y="page-title">My Kitchen</title>
  <link rel="icon" href="../../assets/icon.png" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../../base/reset.css" />
  <link rel="stylesheet" href="../../base/tokens.css" />
  <link rel="stylesheet" href="../../base/typography.css" />
  <link rel="stylesheet" href="../../base/utilities.css" />

  <link rel="stylesheet" href="../../components/layout/y-c-navbar.css" />
  <link rel="stylesheet" href="../../components/layout/y-c-footer.css" />
  <link rel="stylesheet" href="../../components/cards/y-c-product-card.css" />
  <link rel="stylesheet" href="../../components/buttons/y-c-btn.css" />
  <link rel="stylesheet" href="../../templates/pages header/y-c-design-header.css" />
  <link rel="stylesheet" href="../../components/layout/y-c-breadcrumb.css" />
  <link rel="stylesheet" href="../../components/home/y-c-section.css" />
  <link rel="stylesheet" href="../../components/products/y-c-products.css" />
  <link rel="stylesheet" href="../../components/products/y-c-pagination.css" />
  <link rel="stylesheet" href="../../components/products/y-c-filter-bar.css" />
  <link rel="stylesheet" href="wishlist.css" />
  <link rel="stylesheet" href="../../css/y-animations.css" />
</head>

<body data-current-page="wishlist">
  <div data-y="nav"></div>
  <header data-y="design-header"></header>


  <main data-y="main" class=" ">
    <div class="main-container">
      <div data-y="breadcrumb"></div>      
      <section data-y="top-products-logo"></section>
      <section data-y="filter"></section>

      <products data-y="wishlist-products"></products>
      <section data-y="pagination"></section>
    </div>

  </main>

  <footer data-y="footer"></footer>

  <script src="../../js/header-toggle.js"></script>
  <script src="../../js/y-navbar.js"></script>
  <script src="../../js/y-footer.js"></script>
  <script src="../../js/y-design-header.js"></script>
  <script src="../../js/y-breadcrumb.js"></script>
  <script src="../../js/y-wishlist.js"></script>
  <script src="../../js/y-top-products-logo.js"></script>
  <script src="../../js/y-pagination.js"></script>
  <script src="../../js/y-filter-bar.js"></script>
</body>

</html>